#events-overview-board-notifications{
    padding: 0 30px;
    margin: 0 0 30px;
}
#events-overview-board-notifications .uk-grid-match svg:not(:root) {
    width: 100%;
    height: 100%;
    color: #00d283;
}
#events-overview-board-notifications .uk-card-body{
    padding: 20px;
    position: relative;
}
#events-overview-board-notifications div.slide-link{
    position: absolute;
}
#events-overview-board-notifications div.slide-link.left{
    left: 20px;
    top: 100px;
}
#events-overview-board-notifications div.slide-link.right{
    right: 20px;
    top: 100px;
}
#events-overview-board-notifications div.slide-link .uk-slidenav-large.disabled svg{
    color: #a7a9ac;
}
#events-overview-board-notifications .uk-grid-match{
    padding: 10px;
}
#events-overview-board-notifications .triple-wrap{
    width: calc(100% - 40px);
    margin: 0 0 20px -10px;
}
#events-overview-board-notifications p{
    margin: 0;
}
#events-overview-board-notifications .title{
    margin: 0;
    font-weight: 600;
}
#events-overview-board-notifications a.green{
    text-decoration: underline;
}
#events-overview-board-notifications .approval{
    color: #58585b;
    text-decoration: underline;
}
#events-overview-board-notifications .approval:hover,
#events-overview-board-notifications a.green:hover{
    text-decoration: none;
}
#events-overview-board-notifications .approval.yes{
    margin: 0 10px;
}
#events-overview-board-notifications .divider{
    border-top: 1px solid #d1d2d3;
    width: calc(100% + 40px);
    margin: 20px 0 20px -20px;
}
#events-overview-board-notifications a.new-post{
    text-decoration: none;
}
#events-overview-board-notifications a.new-post:hover{
    text-decoration: underline;
}
#events-overview-board-notifications a.new-post .uk-icon{
    margin: 0 10px 0 0;
    position: relative;
    top: -1px;
}

#events-overview-board-notifications .create-wrap{
    border: 1px solid #d1d2d3;
    width: 100%;
    border-radius: 20px;
}
#events-overview-board-notifications .test-upload .uk-icon{
    margin: 0 10px 0 0;
    position: relative;
    top: -1px;
}
#events-overview-board-notifications .form-wrap{
    padding: 20px;
}
#events-overview-board-notifications input,
#events-overview-board-notifications textarea{
    width: 100%;
}
#events-overview-board-notifications textarea{
    height: 127px;
    margin: 0 0 20px;
}
#events-overview-board-notifications .uk-button{
    border-radius: 20px;
}
#events-overview-board-notifications .uk-button-primary{
    margin: 0 10px 0 0;
}
#events-overview-board-notifications .list-wrap ul{
    padding: 0;
    margin: 0;
}
#events-overview-board-notifications .list-wrap ul li{
    list-style-type: none;
    border-bottom: 1px solid #d1d2d3;
    padding: 20px;
}
#events-overview-board-notifications .list-wrap ul li:last-child{
    border: none;
}
#events-overview-board-notifications .list-wrap ul li .uk-icon{
    margin: 0 10px 0 0;
    position: relative;
    top: -2px;
}
#events-overview-board-notifications .list-wrap ul li a{
    color: #58595b;
}
#events-overview-board-notifications .list-wrap ul li a:hover{
    color: #00d283;
    text-decoration: none;
}
