<link rel="stylesheet" href="css/add-image/sxn-add-image.min.css" />

<div id="add-image">

    <div class="test-upload uk-placeholder uk-text-center">
        <span uk-icon="icon: image"></span>
        <div uk-form-custom>
            <input type="file" multiple>
            <span class="uk-text-middle">Add image</span>
        </div>
    </div>

</div>
