<link rel="stylesheet" href="css/add-org-name/sxn-add-org-name.min.css" />

<div id="add-org-name">

    <div class="add-org-name" class="uk-child-width-1-2@m" uk-grid>
        <div>
            <form>
                <input class="uk-input uk-form-large uk-form-blank uk-form-width-medium" type="text" placeholder="Add Organization Name">
            </form>
        </div>
        <div>
            <a href="" class="uk-float-right">
                <span uk-icon="icon: question"></span><span>Is this a university affiliated org?</span>
            </a>
        </div>
    </div>

</div>
