<link rel="stylesheet" href="css/add-org-description/sxn-add-org-description.v2.min.css" />

<div id="add-org-description">

    <h2>Add Description</h2>

    <div class="uk-card uk-card-default uk-card-body">

        <form>
            <textarea class="uk-textarea"></textarea>
        </form>

    </div>

</div>
