<link rel="stylesheet" href="css/add-edit-members/sxn-add-edit-members.v2.min.css" />

<div id="add-edit-members">

    <h2>Add/Edit Members</h2>

    <div class="uk-card uk-card-default uk-card-body">

        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: hashtag"></span>
            <input class="uk-input" placeholder="Search to add another member">
        </div>

        <div class="admins" uk-grid>
            <div class="col uk-width-1-1@m">
                <div class="member" uk-grid>
                    <div class="uk-width-auto@m">
                        <div class="img-wrap"></div>
                    </div>
                    <div class="uk-width-expand@m">
                        <p class="name">Alex Reekie</p>
                        <span class="major">English Literature, 2017</span>
                    </div>
                </div>
                <div class="more">
                    <div class="uk-inline">
                        <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                        <?php include 'elements/element-member-menu.php'; ?>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="col uk-width-1-1@m">
                <div class="member" uk-grid>
                    <div class="uk-width-auto@m">
                        <div class="img-wrap"></div>
                    </div>
                    <div class="uk-width-expand@m">
                        <p class="name">Alex Reekie</p>
                        <span class="major">English Literature, 2017</span>
                    </div>
                </div>
                <div class="more">
                    <div class="uk-inline">
                        <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                        <?php include 'elements/element-member-menu.php'; ?>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="col uk-width-1-1@m">
                <div class="member" uk-grid>
                    <div class="uk-width-auto@m">
                        <div class="img-wrap"></div>
                    </div>
                    <div class="uk-width-expand@m">
                        <p class="name">Alex Reekie</p>
                        <span class="major">English Literature, 2017</span>
                    </div>
                </div>
                <div class="more">
                    <div class="uk-inline">
                        <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                        <?php include 'elements/element-member-menu.php'; ?>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
