<link rel="stylesheet" href="css/add-tags/sxn-add-tags.min.css" />

<div id="add-tags">

    <h2>Add Tags</h2>

    <div class="uk-card uk-card-default uk-card-body">

        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: hashtag"></span>
            <input class="uk-input" placeholder="Start typing to add tags">
        </div>

    </div>

</div>
