<link rel="stylesheet" href="css/add-edit-tags/sxn-add-edit-tags.v2.min.css" />

<div id="add-edit-tags">

    <h2>Add/Edit Tags</h2>

    <div class="uk-card uk-card-default uk-card-body">

        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: hashtag"></span>
            <input class="uk-input" placeholder="Start typing to add tags">
        </div>

        <div class="divider"></div>

        <div class="tags">
            <ul class="uk-subnav uk-subnav-pill" uk-switcher>
                <li><a href="#"><span class="uk-icon" uk-icon="icon: close"></span>Film</a></li>
                <li><a href="#"><span class="uk-icon" uk-icon="icon: close"></span>English Literature</a></li>
                <li><a href="#"><span class="uk-icon" uk-icon="icon: close"></span>Travel</a></li>
            </ul>
        </div>

    </div>

</div>
