<link rel="stylesheet" href="css/admins/sxn-admins.min.css" />

<div id="admins">

    <h2>Admin(s)</h2>

    <div class="uk-card uk-card-default uk-card-body">

        <div class="admins" uk-grid>
            <div class="col uk-width-1-2@m">
                <div class="member" uk-grid>
                    <div class="uk-width-auto@m">
                        <div class="img-wrap"></div>
                    </div>
                    <div class="uk-width-expand@m">
                        <p class="name">Alex Reekie</p>
                        <a href="">Message Admin</a>
                    </div>
                </div>
            </div>
            <div class="col right uk-width-1-2@m">
                <div class="member" uk-grid>
                    <div class="uk-width-auto@m">
                        <div class="img-wrap"></div>
                    </div>
                    <div class="uk-width-expand@m">
                        <p class="name">Alex Reekie</p>
                        <a href="">Message Admin</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
