<div uk-drop="mode: click">
    <div class="uk-card uk-card-body uk-card-default">
        <ul>
            <li>
                <a href="#">
                    Message User
                </a>
            </li>
            <li>
                <a href="#">
                    Edit Event Attendees
                </a>
            </li>
            <li>
                <a href="#">
                    Block User from this Event
                </a>
            </li>
        </ul>
    </div>
</div>
