<link rel="stylesheet" href="css/board-permissions/sxn-board-permissions.min.css" />

<div id="board-permissions">

    <h4>Board Permissions</h4>

    <div class="uk-card uk-card-default uk-card-body">

        <div uk-grid>

            <div class="uk-width-1-2@m">
                <b>Board Name</b><br/>
                <label><input class="uk-checkbox" type="checkbox" checked> Viewing Permission</label><br/>
                <label><input class="uk-checkbox" type="checkbox" checked> Posting Permission</label>
            </div>
            <div class="uk-width-1-2@m">
                <b>Board Name</b><br/>
                <label><input class="uk-checkbox" type="checkbox" checked> Viewing Permission</label><br/>
                <label><input class="uk-checkbox" type="checkbox" checked> Posting Permission</label>
            </div>

        </div>
        <div class="divider"></div>
        <div uk-grid>

            <div class="uk-width-1-2@m">
                <b>Board Name</b><br/>
                <label><input class="uk-checkbox" type="checkbox" checked> Viewing Permission</label><br/>
                <label><input class="uk-checkbox" type="checkbox" checked> Posting Permission</label>
            </div>
            <div class="uk-width-1-2@m">
                <b>Board Name</b><br/>
                <label><input class="uk-checkbox" type="checkbox" checked> Viewing Permission</label><br/>
                <label><input class="uk-checkbox" type="checkbox" checked> Posting Permission</label>
            </div>

        </div>

    </div>

</div>
