<link rel="stylesheet" href="css/board-header/sxn-board-header.v2.min.css" />
<div id="board-header">

    <div class="board-header" class="uk-child-width-1-2@m" uk-grid>
        <div>
            <h2>Board Name<a href="" class="green" uk-icon="icon: pencil"></a></h2>
            <span class="text-light">Board description lorem ispum dolor sit amet progue num</span>
        </div>
        <div>
            <a class="uk-float-right uk-link">Board Settings</a>
        </div>
    </div>

</div>
