<link rel="stylesheet" href="css/boards-following/sxn-boards-following.min.css" />

<div id="boards-following">

    <h4>Boards Following</h4>

    <div class="uk-card uk-card-default uk-card-body">

        <div uk-grid>

            <div class="uk-width-1-4@m">
                <p>
                    <b>Board Lorem Ipsum</b>
                </p>
            </div>
            <div class="uk-width-1-4@m">
                <p>
                    <b>Board Lorem Ipsum</b>
                </p>
            </div>
            <div class="uk-width-1-4@m">
                <p>
                    <b>Board Lorem Ipsum</b>
                </p>
            </div>
            <div class="uk-width-1-4@m">
                <p>
                    <b>Board Lorem Ipsum</b>
                </p>
            </div>

        </div>

    </div>

</div>
