<link rel="stylesheet" href="css/board-name-close/sxn-board-name-close.css" />

<div id="board-name-close" uk-grid>
    <div class="uk-width-expand@s">
        <h4>Board Details</h4>
    </div>
    <div class="uk-width-auto@s">
        <a href="#" class="uk-icon-link" uk-icon="icon: close" uk-toggle="target: .col-tog, .app-link"></a>
    </div>
    <h3>Board Name</h3>
</div>
