<link rel="stylesheet" href="css/board-traffic/sxn-board-traffic.css" />

<div id="board-traffic">

    <h4>Board Traffic</h4>

    <div class="board-traffic-item">
        <div class="uk-card uk-card-default uk-card-body">

            <img src="img/chart-small.png" />

        </div>
    </div>

</div>
