<link rel="stylesheet" href="css/board-create/sxn-board-create.min.css" />

<div id="board-create">

    <div class="uk-card uk-card-default uk-card-body">

        <div class="create-wrap">
            <h4 class="inner">New Board</h4>
            <div class="divider"></div>
            <div class="create-grid" uk-grid>
                <div class="poll-wrap uk-width-3-5@m">
                    <div class="form-wrap">
                        <form>
                            <input class="uk-input uk-form-large uk-form-blank uk-form-width-large" type="text" placeholder="Title Lorem Ipsum"></input>
                        </form>
                        <form>
                            <textarea class="uk-textarea uk-form-blank uk-form-width-large" type="text" placeholder="Add a description"></textarea>
                        </form>
                        <a class="uk-button uk-button-primary" type="button">Create</a>
                        <a class="uk-button uk-button-cancel" type="button">Back</a>
                    </div>
                </div>
                <div class="uk-width-2-5@m">
                    <div class="list-wrap">
                        <ul>
                            <li>
                                <a href="" class="uk-float-left">
                                    <span>Board Visibility: <b>All</b></span>
                                </a>
                                <a href="" class="uk-float-right green">
                                    <span uk-icon="icon: pencil"></span><span>Edit</span>
                                </a>
                                <div class="uk-clearfix"></div>
                            </li>
                            <li>
                                <a href="" class="uk-float-left">
                                    <span>Posting Rights: <b>All</b></span>
                                </a>
                                <a href="" class="uk-float-right green">
                                    <span uk-icon="icon: pencil"></span><span>Edit</span>
                                </a>
                                <div class="uk-clearfix"></div>
                            </li>
                            <li>
                                <a href="" class="uk-float-left">
                                    <span>Post Visibility: <b>All</b></span>
                                </a>
                                <a href="" class="uk-float-right green">
                                    <span uk-icon="icon: pencil"></span><span>Edit</span>
                                </a>
                                <div class="uk-clearfix"></div>
                            </li>
                            <li>
                                <a href="" class="uk-float-left">
                                    <span>Commenting Rights: <b>All</b></span>
                                </a>
                                <a href="" class="uk-float-right green">
                                    <span uk-icon="icon: pencil"></span><span>Edit</span>
                                </a>
                                <div class="uk-clearfix"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
