<link rel="stylesheet" href="css/calendar/sxn-calendar.min.css" />

<div id="calendar">

    <div class="calendar top">
        <h4>Calendar</h4>
        <a href="" class="uk-float-right green"><span class="uk-icon" uk-icon="icon: list"></span>View as List</a>
        <span class="key unaffiliated uk-float-right"><div></div>Unaffiliated Event</span>
        <span class="key affiliated uk-float-right"><div></div>Affiliated Event</span>
    </div>

    <div class="month">
        <h2 class="uk-float-left">July</h2>
        <a class="uk-float-left" href=""><span uk-icon="icon: chevron-left"></span></a>
        <a class="uk-float-left" href=""><span uk-icon="icon: chevron-right"></span></a>
        <div class="uk-clearfix"></div>
    </div>

    <div class="calendar-grid uk-card uk-card-default uk-card-body">
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-small uk-table-divider">
                <thead>
                    <tr>
                        <th>Sun</th>
                        <th>Mon</th>
                        <th>Tues</th>
                        <th>Weds</th>
                        <th>Thurs</th>
                        <th>Fri</th>
                        <th>Sat</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="" class="affiliated event">
                                Affiliated Event
                            </a>
                            <a href="" class="unaffiliated event">
                                Unaffiliated Event
                            </a>
                            <span>16</span>
                        </td>
                        <td>
                            <a href="" class="unaffiliated event">
                                Unaffiliated Event
                            </a>
                            <span>17</span>
                        </td>
                        <td>
                            <a href="" class="affiliated event">
                                Affiliated Event
                            </a>
                            <a href="" class="affiliated event">
                                Affiliated Event
                            </a>
                            <span>18</span>
                        </td>
                        <td>
                            <a href="" class="affiliated event">
                                Affiliated Event
                            </a>
                            <a href="" class="unaffiliated event">
                                Unaffiliated Event
                            </a>
                            <a href="" class="unaffiliated event">
                                Unaffiliated Event
                            </a>
                            <span>19</span>
                        </td>
                        <td>
                            <a href="" class="affiliated event">
                                Affiliated Event
                            </a>
                            <a href="" class="unaffiliated event">
                                Unaffiliated Event
                            </a>
                            <span>20</span>
                        </td>
                        <td>
                            <a href="" class="unaffiliated event">
                                Unaffiliated Event
                            </a>
                            <a href="" class="unaffiliated event">
                                Unaffiliated Event
                            </a>
                            <a href="" class="unaffiliated event">
                                Unaffiliated Event
                            </a>
                            <a href="" class="unaffiliated event">
                                Unaffiliated Event
                            </a>
                            <span>21</span>
                        </td>
                        <td>
                            <a href="" class="affiliated event">
                                Affiliated Event
                            </a>
                            <a href="" class="affiliated event">
                                Affiliated Event
                            </a>
                            <span>22</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="unaffiliated event">
                                Unaffiliated Event
                            </a>
                            <span>23</span>
                        </td>
                        <td>
                            <a href="" class="affiliated event">
                                Affiliated Event
                            </a>
                            <span>24</span>
                        </td>
                        <td>
                            <a href="" class="unaffiliated event">
                                Unaffiliated Event
                            </a>
                            <a href="" class="unaffiliated event">
                                Unaffiliated Event
                            </a>
                            <span>25</span>
                        </td>
                        <td>
                            <a href="" class="unaffiliated event">
                                Unaffiliated Event
                            </a>
                            <span>26</span>
                        </td>
                        <td>
                            <a href="" class="unaffiliated event">
                                Unaffiliated Event
                            </a>
                            <span>27</span>
                        </td>
                        <td>
                            <a href="" class="affiliated event">
                                Affiliated Event
                            </a>
                            <span>28</span>
                        </td>
                        <td>
                            <a href="" class="affiliated event">
                                Affiliated Event
                            </a>
                            <a href="" class="unaffiliated event">
                                Unaffiliated Event
                            </a>
                            <a href="" class="unaffiliated event">
                                Unaffiliated Event
                            </a>
                            <span>29</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" class="unaffiliated event">
                                Unaffiliated Event
                            </a>
                            <span>30</span>
                        </td>
                        <td>
                            <a href="" class="affiliated event">
                                Affiliated Event
                            </a>
                            <a href="" class="affiliated event">
                                Affiliated Event
                            </a>
                            <a href="" class="affiliated event">
                                Affiliated Event
                            </a>
                            <span>31</span>
                        </td>
                        <td class="next-month">
                            <a href="" class="unaffiliated event">
                                Unaffiliated Event
                            </a>
                            <span>1</span>
                        </td>
                        <td class="next-month">
                            <a href="" class="affiliated event">
                                Affiliated Event
                            </a>
                            <a href="" class="unaffiliated event">
                                Unaffiliated Event
                            </a>
                            <a href="" class="unaffiliated event">
                                Unaffiliated Event
                            </a>
                            <span>2</span>
                        </td>
                        <td class="next-month">
                            <a href="" class="affiliated event">
                                Affiliated Event
                            </a>
                            <span>3</span>
                        </td>
                        <td class="next-month">
                            <a href="" class="unaffiliated event">
                                Unaffiliated Event
                            </a>
                            <a href="" class="unaffiliated event">
                                Unaffiliated Event
                            </a>
                            <span>4</span>
                        </td>
                        <td class="next-month">
                            <span>5</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
