<link rel="stylesheet" href="css/challenge-header/sxn-challenge-header.v2.min.css" />

<div id="challenge-header">

    <div class="challenge-header top">
        <h2><a href=""><span uk-icon="icon: chevron-left"></span></a>Challenge Title Lorem Ipsum</h2>
        <div class="img-wrap"></div>
    </div>

    <div class="challenge-header" class="uk-child-width-1-2@m" uk-grid>
        <div>
            <p class="created-by">Created by Group Name</p>
            <div class="tags">
                <span href="#" class="uk-icon" uk-icon="icon: tag"></span><span>Campus Resources, Information</span>
            </div>
        </div>
        <div>
            <p class="uk-float-right"><span uk-icon="icon: calendar"></span>Deadline: June 15 at 11:59pm</p>
        </div>
    </div>

</div>
