<link rel="stylesheet" href="css/challenge-overview-board-notifications/sxn-challenge-overview-board-notifications.v4.min.css" />

<div id="challenge-overview-board-notifications">
    <h4>Board Notifications</h4>
    <div class="uk-card uk-card-default uk-card-body">
        <div class="slide-link left">
            <a href="" class="uk-slidenav-large disabled" uk-slidenav-previous></a>
        </div>
        <div class="slide-link right">
            <a href="" class="uk-slidenav-large" uk-slidenav-next></a>
        </div>

        <!-- Single Col -->

        <div class="app-link uk-grid-match uk-child-width-1-3@m triple-wrap" uk-grid>

            <div>
                <div class="uk-grid-match" uk-grid>
                    <div class="uk-width-1-3@m">
                        <span uk-icon="icon: copy"></span>
                    </div>
                    <div class="uk-width-2-3@m">
                        <p class="title">Firstname Lastname</p>
                        <p class="text-light">Yesterday at 4:56pm</p>
                        <p>Lorem ipsum dolor sit amet, sed do eiusmod.</p>
                        <span><a class="green" href="#">View</a></span>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-grid-match" uk-grid>
                    <div class="uk-width-1-3@m">
                        <span uk-icon="icon: copy"></span>
                    </div>
                    <div class="uk-width-2-3@m">
                        <p class="title">Firstname Lastname</p>
                        <p class="text-light">Yesterday at 4:56pm</p>
                        <p>Lorem ipsum dolor sit amet, sed do eiusmod.</p>
                        <span class="green">Approve?<a class="approval yes" href="#">Yes</a><a class="approval" href="#">No</a></span>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-grid-match" uk-grid>
                    <div class="uk-width-1-3@m">
                        <span uk-icon="icon: copy"></span>
                    </div>
                    <div class="uk-width-2-3@m">
                        <p class="title">Firstname Lastname</p>
                        <p class="text-light">Yesterday at 4:56pm</p>
                        <p>Lorem ipsum dolor sit amet, sed do eiusmod.</p>
                        <span><a class="green" href="#">View Flagged Post</a></span>
                    </div>
                </div>
            </div>

        </div>

        <!-- Double Col -->

        <div class="app-link uk-grid-match uk-child-width-1-2@m triple-wrap" uk-grid hidden>

            <div>
                <div class="uk-grid-match" uk-grid>
                    <div class="uk-width-1-3@m">
                        <span uk-icon="icon: copy"></span>
                    </div>
                    <div class="uk-width-2-3@m">
                        <p class="title">Firstname Lastname</p>
                        <p class="text-light">Yesterday at 4:56pm</p>
                        <p>Lorem ipsum dolor sit amet, sed do eiusmod.</p>
                        <span><a class="green" href="#">View</a></span>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-grid-match" uk-grid>
                    <div class="uk-width-1-3@m">
                        <span uk-icon="icon: copy"></span>
                    </div>
                    <div class="uk-width-2-3@m">
                        <p class="title">Firstname Lastname</p>
                        <p class="text-light">Yesterday at 4:56pm</p>
                        <p>Lorem ipsum dolor sit amet, sed do eiusmod.</p>
                        <span class="green">Approve?<a class="approval yes" href="#">Yes</a><a class="approval" href="#">No</a></span>
                    </div>
                </div>
            </div>

        </div>

        <div class="new-challenge-toggle" hidden>
            <div class="create-wrap">
                <div class="create-grid" uk-grid>
                    <div class="uk-width-3-5@m">
                        <div class="form-wrap">
                            <form>
                                <input class="uk-input uk-form-large uk-form-blank uk-form-width-large" type="text" placeholder="Title Lorem Ipsum"></input>
                            </form>
                            <form>
                                <textarea class="uk-textarea uk-form-blank uk-form-width-large" type="text" placeholder="Add a description"></textarea>
                            </form>
                            <a class="uk-button uk-button-primary" type="button">Create</a>
                            <a class="uk-button uk-button-cancel" type="button">Back</a>
                        </div>
                    </div>
                    <div class="uk-width-2-5@m">
                        <div class="list-wrap">
                            <ul>
                                <li>
                                    <a href="">
                                        <span uk-icon="icon: image"></span><span>Add image</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span uk-icon="icon: hashtag"></span><span>Add tags</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span uk-icon="icon: users"></span><span>Co-sponsor with another group?</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span uk-icon="icon: bell"></span><span>Set alert</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span uk-icon="icon: cog"></span><span>Manage privacy settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span uk-icon="icon: calendar"></span><span>Set deadline</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="new-challenge-toggle add-comment" uk-grid>
            <div class="uk-width-expand@m">
                <form>
                    <div>
                        <a uk-toggle="target: .new-challenge-toggle">
                            <input class="uk-input" type="text" placeholder="+ Create a new challenge">
                        </a>
                    </div>
                </form>
            </div>
            <div class="uk-width-auto@m">
                <a href="#image-upload" class="uk-icon-link" uk-icon="icon: image" uk-toggle></a>
            </div>
        </div>

    </div>
</div>
{{>image-upload-modal}}