<link rel="stylesheet" href="css/challenge-overview-header/sxn-challenge-overview-header.min.css" />

<div id="challenge-overview-header">

    <div class="challenge-overview-header" class="uk-child-width-1-2@m" uk-grid>
        <div>
            <h2>Challenges Overview</h2>
            <span class="text-light">Board description lorem ispum dolor sit amet progue num</span>
        </div>
        <div>
            <a class="uk-float-right uk-link">Board Settings</a>
        </div>
    </div>

</div>
