<link rel="stylesheet" href="css/challenge-submissions/sxn-challenge-submissions.min.css" />

<div id="challenge-submissions">
    <h4>481 Submissions</h4>
    <div class="uk-card uk-card-default uk-card-body">

        <ul>

            <li>
                <div class="challenge-submissions" uk-grid>
                    <div class="uk-width-1-2@m">
                        <div class="img-wrap"></div>
                    </div>
                    <div class="uk-width-expand@m">

                        <p class="title">Challenge Title</p>
                        <p class="created-by">Created by Group Name</p>
                        <p class="timestamp">at 8:15pm in <a href="">Board Name</a></p>
                        <p class="description">Brief description lorem ipsum sit dolor amet proque nobis aet aplis volumptua attena Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam...</p>

                    </div>
                    <div class="uk-width-auto@m">
                        <div class="vote-icon">
                            <span href="#" class="uk-icon" uk-icon="icon: check"></span>
                        </div>
                        <div>
                            <span>581</span>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="challenge-submissions" uk-grid>
                    <div class="uk-width-1-2@m">
                        <div class="img-wrap"></div>
                    </div>
                    <div class="uk-width-expand@m">

                        <p class="title">Challenge Title</p>
                        <p class="created-by">Created by Group Name</p>
                        <p class="timestamp">at 8:15pm in <a href="">Board Name</a></p>
                        <p class="description">Brief description lorem ipsum sit dolor amet proque nobis aet aplis volumptua attena Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam...</p>

                    </div>
                    <div class="uk-width-auto@m">
                        <div class="vote-icon">
                            <span href="#" class="uk-icon" uk-icon="icon: check"></span>
                        </div>
                        <div>
                            <span>581</span>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="challenge-submissions" uk-grid>
                    <div class="uk-width-1-2@m">
                        <div class="img-wrap"></div>
                    </div>
                    <div class="uk-width-expand@m">

                        <p class="title">Challenge Title</p>
                        <p class="created-by">Created by Group Name</p>
                        <p class="timestamp">at 8:15pm in <a href="">Board Name</a></p>
                        <p class="description">Brief description lorem ipsum sit dolor amet proque nobis aet aplis volumptua attena Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam...</p>

                    </div>
                    <div class="uk-width-auto@m">
                        <div class="vote-icon">
                            <span href="#" class="uk-icon" uk-icon="icon: check"></span>
                        </div>
                        <div>
                            <span>581</span>
                        </div>
                    </div>
                </div>
            </li>

        </ul>

    </div>
</div>
