<section id="login">
    <div class="login-header">
        <img class="uk-float-left" src="img/loop_logo_white.png" alt="Loop" />
        <ul class="uk-list uk-link-text">
            <li><a href="#">Help</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>

    <h1>Hi, Firstname</h1>
    <p>Now that we've verified your info, please create a password.</p>

    <div class="inputs">
        <form>
            <div class="uk-margin">
                <input class="uk-input uk-form-width-medium" type="text" placeholder="password">
            </div>
            <div class="uk-margin">
                <input class="uk-input uk-form-width-medium" type="text" placeholder="retype password">
            </div>
            <a href="" class="uk-button uk-button-default">
                Create Account
            </a>
            <a href="" class="uk-button uk-button-secondary">
                Back
            </a>
        </form>
    </div>

    <div class="uk-position-bottom-center">
        <span><a class="underlined" href="#">Help me</a> register my account.</span>
    </div>

</div>
