<link rel="stylesheet" href="css/create-board-header/sxn-create-board-header.min.css" />

<div id="create-board-header">

    <div class="create-board-header top">
        <h2><a href=""><span uk-icon="icon: chevron-left"></span></a>Create a new Board</h2>
    </div>

</div>
