<link rel="stylesheet" href="css/edit-description/sxn-edit-description.min.css" />

<div id="edit-description">

    <div class="edit-description" class="uk-child-width-1-1@m" uk-grid>
        <div class="org-name-header">
            <a href=""><span class="green uk-float-left" uk-icon="icon: pencil"></span></a><h3 class="uk-float-left">Description</h3>
        </div>
    </div>

    <div class="uk-card uk-card-default uk-card-body">

        <p><b>Lorem Ipsum</b></p>
        <p>Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
        <p>Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonummy nibh euismod.</p>

    </div>

</div>
