<link rel="stylesheet" href="css/edit-profile-top-admin-view/sxn-edit-profile-top-admin-view.min.css" />

<div id="edit-profile-top-admin-view">

    <div class="edit-profile-top-admin-view" uk-grid>
        <div class="col uk-width-1-1@m">
            <div class="member" uk-grid>
                <div class="uk-width-auto@m">
                    <div class="img-wrap uk-inline uk-dark">
                        <div class="uk-overlay-default uk-position-cover">
                            <div class="uk-position-center">
                                <a href=""><span uk-icon="icon: image"></span><span>Edit image</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-expand@m">
                    <p class="name"><a href=""><span class="uk-icon" uk-icon="icon: pencil"></span></a>Alex Reekie</p>
                </div>
            </div>
        </div>
    </div>

</div>
