<link rel="stylesheet" href="css/edit-profile-header/sxn-edit-profile-header.min.css" />

<div id="edit-profile-header">

    <div class="edit-profile-header top">
        <h2><a href=""><span uk-icon="icon: chevron-left"></span></a>Edit Profile</h2>
        <a href="" class="uk-float-right green"><span class="uk-icon" uk-icon="icon: check"></span>Save Changes</a>
    </div>

</div>
