<link rel="stylesheet" href="css/edit-bio/sxn-edit-bio.min.css" />

<div id="edit-bio">

    <h4><a href=""><span class="uk-icon" uk-icon="icon: pencil"></span></a>Bio</h4>

    <div class="uk-card uk-card-default uk-card-body">

        <p>Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonummy nibh euismod.</p>

    </div>

</div>
