<link rel="stylesheet" href="css/events-list/sxn-events-list.min.css" />

<div id="events-list">

    <div class="events-list top">
        <h4>List View</h4>
        <a href="" class="uk-float-right green"><span class="uk-icon" uk-icon="icon: calendar"></span>View as Calendar</a>
    </div>

    <div class="uk-clearfix"></div>

    <h4 class="today">TODAY</h4>
    <div class="uk-card uk-card-default uk-card-body">

        <ul>

            <li>
                <div class="challenge-submissions" uk-grid>
                    <div class="uk-width-1-2@m">
                        <div class="img-wrap"></div>
                    </div>
                    <div class="uk-width-expand@m">

                        <p class="title">Event Title</p>
                        <p class="created-by">Created by Group Name</p>
                        <p class="timestamp">at 8:15pm in <a href="">Board Name</a></p>
                        <p class="description">
                            July 7, 2017<br/>
                            8:30pm to 10:30pm<br/>
                            McKimmon Student Center
                        </p>

                    </div>
                    <div class="uk-width-auto@m">
                        <div>
                            <span class="green"><span class="uk-icon" uk-icon="icon: check"></span>Affiliated</span>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="challenge-submissions" uk-grid>
                    <div class="uk-width-1-2@m">
                        <div class="img-wrap"></div>
                    </div>
                    <div class="uk-width-expand@m">

                        <p class="title">Event Title</p>
                        <p class="created-by">Created by Group Name</p>
                        <p class="timestamp">at 8:15pm in <a href="">Board Name</a></p>
                        <p class="description">
                            July 7, 2017<br/>
                            8:30pm to 10:30pm<br/>
                            McKimmon Student Center
                        </p>

                    </div>
                    <div class="uk-width-auto@m">
                        <div>
                            <span>Unaffiliated</span>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="challenge-submissions" uk-grid>
                    <div class="uk-width-1-2@m">
                        <div class="img-wrap"></div>
                    </div>
                    <div class="uk-width-expand@m">

                        <p class="title">Event Title</p>
                        <p class="created-by">Created by Group Name</p>
                        <p class="timestamp">at 8:15pm in <a href="">Board Name</a></p>
                        <p class="description">
                            July 7, 2017<br/>
                            8:30pm to 10:30pm<br/>
                            McKimmon Student Center
                        </p>

                    </div>
                    <div class="uk-width-auto@m">
                        <div>
                            <span class="green"><span class="uk-icon" uk-icon="icon: check"></span>Affiliated</span>
                        </div>
                    </div>
                </div>
            </li>

        </ul>

    </div>
</div>
