<link rel="stylesheet" href="css/event-detail-header/sxn-event-detail-header.min.css" />

<div id="event-detail-header">

    <div class="event-detail-header top">
        <h2><a href=""><span uk-icon="icon: chevron-left"></span></a>Event Title Lorem Ipsum</h2>
        <a href="" class="uk-float-right green"><span class="uk-icon" uk-icon="icon: pencil"></span>Edit event</a>
        <div class="img-wrap"></div>
    </div>

    <div class="event-detail-header" class="uk-child-width-1-2@m" uk-grid>
        <div>
            <p class="created-by">Created by Group Name<span>at 8:15am in <a href="">Board Name</a></span></p>
            <span>June 7, 2017, 8:30pm to 10:30pm</span>
        </div>
        <div>
            <div class="uk-float-right">
                <span class="green uk-icon" uk-icon="icon: check"></span><span class="green">Affiliated</span>
            </div>
            <div class="uk-clearfix"></div>
            <div class="tags uk-float-right">
                <span class="uk-icon" uk-icon="icon: tag"></span><span>Campus Resources, Information</span>
            </div>
            <div class="uk-clearfix"></div>
            <div class="attending uk-float-right">
                <span uk-icon="icon: users"></span><span>58 attending</span>
            </div>
            <div class="uk-clearfix"></div>
        </div>
    </div>

</div>
