<link rel="stylesheet" href="css/event-attendees-header/sxn-event-attendees-header.min.css" />

<div id="event-attendees-header">

    <div class="event-attendees-header top">
        <h2><a href=""><span uk-icon="icon: chevron-left"></span></a>Event Attendees</h2>
        <a href="" class="uk-float-right green"><span class="uk-icon" uk-icon="icon: pencil"></span>Edit event</a>
    </div>

</div>
