<link rel="stylesheet" href="css/events-overview-header/sxn-events-overview-header.min.css" />

<div id="events-overview-header">

    <div class="events-overview-header" class="uk-child-width-1-2@m" uk-grid>
        <div>
            <h2>Events Overview</h2>
            <span class="text-light">Event information lorem ispum dolor sit amet progue num</span>
        </div>
        <div>
            <a class="uk-float-right uk-link">Board Settings</a>
        </div>
    </div>

</div>
