<link rel="stylesheet" href="css/feed-event/sxn-feed-event.min.css" />

<div id="feed-event">

    <div class="feed-item">
        <div class="uk-card uk-card-default uk-card-body">

            <div class="main-post">
                <div class="poster-avi uk-float-left">
                    <img src="img/avi.jpeg" alt="Alex Reekie" />
                </div>
                <div class="poster-info uk-float-left">
                    <span class="name">Alex Reekie</span><br />
                    <span>Created a new even that needs approval</span>
                </div>
                <div class="more">
                    <span class="approval green">Approve?</span>
                    <a class="approval yes" href="#">Yes</a>
                    <a class="approval" href="#">No</a>
                    <div class="uk-inline">
                        <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                        <?php include 'elements/element-user-menu.php'; ?>
                    </div>
                </div>
                <div class="uk-clearfix"></div>
                <div class="post-content">
                    <div uk-grid>
                        <div class="uk-width-1-2@m">
                            <div class="img-wrap"></div>
                        </div>
                        <div class="uk-width-1-2@m">
                            <span class="title">Event Title</span><br />
                            <span>July 7, 2017, 8:30pm to 10:30pm</span><br />
                            <span>University Commons</span><br />
                            <br />
                            <span class="description">
                                Brief description lorem ispum dolor sit amet progue num abus alreat pronum...
                            </span>
                            <div class="tags">
                                <span href="#" class="uk-icon" uk-icon="icon: tag"></span><span>Campus Resources, Information</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
