<link rel="stylesheet" href="css/feed-header/sxn-feed-header.min.css" />

<div id="feed-top">

    <div class="feed-header" class="uk-child-width-1-2@m" uk-grid>
        <div>
            <h2>Feed</h2>
        </div>
        <div>
            <a class="uk-float-right uk-link">Feed Settings</a>
        </div>
    </div>

</div>
