<link rel="stylesheet" href="css/filter-content/sxn-filter-content.min.css" />
<div id="filter-content">
    <h4>Filter by Content Type</h4>
    <div class="uk-card uk-card-default uk-card-body">

        <ul class="uk-subnav uk-subnav-pill" uk-switcher>
            <li><a href="#">All</a></li>
            <li><a href="#">Posts</a></li>
            <li><a href="#">Challenges</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Polls</a></li>
            <li><a href="#">Sales</a></li>
        </ul>

    </div>
</div>
