<link rel="stylesheet" href="css/general-settings/sxn-general-settings.min.css" />

<div id="general-settings">

    <h3>Field 1</h3>
    <ul>
        <li>
            <span>Field 1 editable item 1</span>
            <a href="">
                <span uk-icon="icon: pencil"></span>
            </a>
        </li>
        <li>
            <span>Field 1 editable item 2</span>
            <a href="">
                <span uk-icon="icon: pencil"></span>
            </a>
        </li>
        <div class="uk-clearfix"></div>
    </ul>
    <div class="divider"></div>
    <h3>Field 2</h3>
    <ul>
        <li>
            <span>Field 2 editable item 1</span>
            <a href="">
                <span uk-icon="icon: pencil"></span>
            </a>
        </li>
        <li>
            <span>Field 2 editable item 2</span>
            <a href="">
                <span uk-icon="icon: pencil"></span>
            </a>
        </li>
        <li>
            <span>Field 2 editable item 3</span>
            <a href="">
                <span uk-icon="icon: pencil"></span>
            </a>
        </li>
        <div class="uk-clearfix"></div>
    </ul>
    <div class="divider"></div>
    <h3>Field 3</h3>
    <ul>
        <li>
            <span>Field 3 editable item 1</span>
            <a href="">
                <span uk-icon="icon: pencil"></span>
            </a>
        </li>
        <li>
            <span>Field 3 editable item 2</span>
            <a href="">
                <span uk-icon="icon: pencil"></span>
            </a>
        </li>
        <div class="uk-clearfix"></div>
    </ul>
    <div class="divider"></div>
    <h3>Field 4</h3>
    <ul>
        <li>
            <span>Field 4 editable item 1</span>
            <a href="">
                <span uk-icon="icon: pencil"></span>
            </a>
        </li>
        <li>
            <span>Field 4 editable item 2</span>
            <a href="">
                <span uk-icon="icon: pencil"></span>
            </a>
        </li>
        <div class="uk-clearfix"></div>
    </ul>

</div>
