<link rel="stylesheet" href="css/greeting/sxn-greeting.min.css" />

<div id="greeting" class="uk-child-width-expand@s" uk-grid>
    <div>
        <h2>Hi Alex,</h2>
    </div>
    <div>
        <span class="uk-float-right">Thursday, June 22, 2017</span><br />
        <a class="uk-float-right uk-link">View Calendar</a>
    </div>
</div>
