<div id="image-upload" uk-modal>
    <div class="uk-modal-dialog uk-modal-body ux-text-center">
        <h2 class="uk-modal-title">Choose an image to upload</h2>
        <a class="uk-align-center uk-margin-small-bottom uk-button uk-button-default" href="#">From your computer</a>
        <a class="uk-align-center uk-button uk-button-default" href="#">From a link</a>
        <p class="uk-text-center">
            <button class="uk-button uk-button-primary" type="button">Upload</button>
            <button class="uk-button uk-button-cancel uk-modal-close" type="button">Cancel</button>
        </p>
    </div>
</div>
