<link rel="stylesheet" href="css/inbox-message/sxn-inbox-message.min.css" />

<div id="inbox-message">

    <div class="from-wrap" uk-grid>
        <div class="uk-width-expand@m">
            <img class="message-avi" src="img/avi.jpeg"></img>
            <span>From: Firstname Lastname</span>
        </div>
        <div class="uk-width-auto@m">
            <span>June 4 at 8:32am EST</span>
        </div>
    </div>

    <h3>Message Subject</h3>

    <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit.
<br/><br/>
Sincerely,<br/>
Firstname Lastname
    </p>

    <div class="uk-card uk-card-default uk-card-body">

        <span>Click to <a href="">Reply</a>, <a href="">Reply to all</a>, or <a href="">Forward</a></span>

        <form>
            <textarea class="uk-textarea"></textarea>
        </form>

    </div>

</div>
