<link rel="stylesheet" href="css/inbox-settings/sxn-inbox-settings.min.css" />

<div id="inbox-settings">

    <h3>General</h3>
    <div class="divider"></div>
    <h3>Notifications</h3>
    <div class="divider"></div>
    <h3>Signature</h3>
    <div class="divider"></div>
    <h3>Automation</h3>

</div>
