<link rel="stylesheet" href="css/inbox-settings-header/sxn-inbox-settings-header.min.css" />

<div id="inbox-settings-header">

    <div class="inbox-settings-header top">
        <h2 class="uk-float-left"><a href=""><span uk-icon="icon: chevron-left"></span></a>Inbox Settings</h2>
        <a href="" class="uk-float-right green">Help</a>
        <div class="uk-clearfix"></div>
    </div>

</div>
