<link rel="stylesheet" href="css/inbox-message-header/sxn-inbox-message-header.min.css" />

<div id="inbox-message-header">

    <div class="inbox-message-header top">
        <h2 class="uk-float-left"><a href=""><span uk-icon="icon: chevron-left"></span></a>Inbox</h2>
        <a href="" class="uk-float-right green">Inbox Settings</a>
        <div class="uk-clearfix"></div>
    </div>

    <div uk-grid>
        <div class="uk-width-expand@m">
            <div class="button-nav">
                <a href="#" class="uk-button grey">
                    <span uk-icon="icon: chevron-left"></span>
                </a>
                <a href="#" class="uk-button grey">
                    <span uk-icon="icon: trash"></span>
                </a>
                <a href="#" class="uk-button grey">
                    <span uk-icon="icon: warning"></span>
                </a>
                <a href="#" class="uk-button grey">
                    <span>More</span>
                    <span uk-icon="icon: chevron-down"></span>
                </a>
            </div>
        </div>
        <div class="uk-width-auto@m">
            <div class="button-nav">
                <a href="#" class="uk-button grey">
                    <span uk-icon="icon: reply"></span>&nbsp;
                    <span uk-icon="icon: chevron-down"></span>
                </a>
            </div>
        </div>
    </div>

</div>
