<link rel="stylesheet" href="css/inbox/sxn-inbox.v4.min.css" />

<div id="inbox">

    <div class="inbox top">
        <h2 class="uk-float-left"><a href=""><span uk-icon="icon: chevron-left"></span></a>Inbox</h2>
        <a href="" class="uk-float-right green">Inbox Settings</a>
        <div class="uk-clearfix"></div>
    </div>

    <div uk-grid>
        <div class="uk-width-expand@m">
            <div class="button-nav">
                <a href="#" class="uk-button grey">
                    <span uk-icon="icon: check"></span>
                    <span uk-icon="icon: chevron-down"></span>
                </a>
                <a href="#" class="uk-button grey">
                    <span uk-icon="icon: refresh"></span>
                </a>
                <a href="#" class="uk-button grey">
                    <span uk-icon="icon: trash"></span>
                </a>
                <a href="#" class="uk-button grey">
                    <span uk-icon="icon: warning"></span>
                </a>
                <a href="#" class="uk-button grey">
                    <span>More</span>
                    <span uk-icon="icon: chevron-down"></span>
                </a>
                <a href="#" class="uk-button grey">
                    <span uk-icon="icon: chevron-left"></span>
                </a>
                <a href="#" class="uk-button grey">
                    <span uk-icon="icon: chevron-right"></span>
                </a>
                <span class="app-link pager">Page 1 / 2</span>
                <span class="app-link pager" hidden>1 / 2</span>
            </div>
        </div>
        <div class="uk-width-auto@m">
            <div class="button-nav">
                <a href="#" class="uk-button grey" uk-toggle="target: .new-message-toggle">
                    <span>Compose</span>
                </a>
                <a href="#" class="uk-button grey">
                    <span>Drafts</span>
                </a>
            </div>
        </div>
    </div>

    <h4>Unread Messages</h4>

    <div class="uk-card uk-card-default uk-card-body">

        <ul>
            <li class="checked">
                <div uk-grid>
                    <div class="uk-width-auto@m">
                        <label><input class="uk-checkbox" type="checkbox" checked="checked"></label>
                    </div>
                    <div class="uk-width-1-5@m">
                        <span><b>Firstname Lastname</b></span>
                    </div>
                    <div class="uk-width-1-5@m">
                        <span><b>Lorem Ipsum Sit Dolor Amet</b></span>
                    </div>
                    <div class="uk-width-2-5@m">
                        <span>Sid pro aquem novit volupto aqui traje nun nobis...</span>
                    </div>
                    <div class="uk-width-expand@m">
                        <span class="uk-align-right"><b>June 4</b></span>
                    </div>
                </div>
            </li>
            <li>
                <div uk-grid>
                    <div class="uk-width-auto@m">
                        <label><input class="uk-checkbox" type="checkbox"></label>
                    </div>
                    <div class="uk-width-1-5@m">
                        <span><b>Firstname Lastname</b></span>
                    </div>
                    <div class="uk-width-1-5@m">
                        <span><b>Lorem Ipsum Sit Dolor Amet</b></span>
                    </div>
                    <div class="uk-width-2-5@m">
                        <span>Sid pro aquem novit volupto aqui traje nun nobis...</span>
                    </div>
                    <div class="uk-width-expand@m">
                        <span class="uk-align-right"><b>June 4</b></span>
                    </div>
                </div>
            </li>
            <li>
                <div uk-grid>
                    <div class="uk-width-auto@m">
                        <label><input class="uk-checkbox" type="checkbox"></label>
                    </div>
                    <div class="uk-width-1-5@m">
                        <span><b>Firstname Lastname</b></span>
                    </div>
                    <div class="uk-width-1-5@m">
                        <span><b>Lorem Ipsum Sit Dolor Amet</b></span>
                    </div>
                    <div class="uk-width-2-5@m">
                        <span>Sid pro aquem novit volupto aqui traje nun nobis...</span>
                    </div>
                    <div class="uk-width-expand@m">
                        <span class="uk-align-right"><b>June 4</b></span>
                    </div>
                </div>
            </li>
            <li>
                <div uk-grid>
                    <div class="uk-width-auto@m">
                        <label><input class="uk-checkbox" type="checkbox"></label>
                    </div>
                    <div class="uk-width-1-5@m">
                        <span><b>Firstname Lastname</b></span>
                    </div>
                    <div class="uk-width-1-5@m">
                        <span><b>Lorem Ipsum Sit Dolor Amet</b></span>
                    </div>
                    <div class="uk-width-2-5@m">
                        <span>Sid pro aquem novit volupto aqui traje nun nobis...</span>
                    </div>
                    <div class="uk-width-expand@m">
                        <span class="uk-align-right"><b>June 4</b></span>
                    </div>
                </div>
            </li>
            <li>
                <div uk-grid>
                    <div class="uk-width-auto@m">
                        <label><input class="uk-checkbox" type="checkbox"></label>
                    </div>
                    <div class="uk-width-1-5@m">
                        <span><b>Firstname Lastname</b></span>
                    </div>
                    <div class="uk-width-1-5@m">
                        <span><b>Lorem Ipsum Sit Dolor Amet</b></span>
                    </div>
                    <div class="uk-width-2-5@m">
                        <span>Sid pro aquem novit volupto aqui traje nun nobis...</span>
                    </div>
                    <div class="uk-width-expand@m">
                        <span class="uk-align-right"><b>June 4</b></span>
                    </div>
                </div>
            </li>
        </ul>

    </div>

    <h4>Read Messages</h4>

    <div class="uk-card uk-card-default uk-card-body">

        <ul>
            <li>
                <div uk-grid>
                    <div class="uk-width-auto@m">
                        <label><input class="uk-checkbox" type="checkbox"></label>
                    </div>
                    <div class="uk-width-1-5@m">
                        <span><b>Firstname Lastname</b></span>
                    </div>
                    <div class="uk-width-1-5@m">
                        <span><b>Lorem Ipsum Sit Dolor Amet</b></span>
                    </div>
                    <div class="uk-width-2-5@m">
                        <span>Sid pro aquem novit volupto aqui traje nun nobis...</span>
                    </div>
                    <div class="uk-width-expand@m">
                        <span class="uk-align-right"><b>June 4</b></span>
                    </div>
                </div>
            </li>
            <li>
                <div uk-grid>
                    <div class="uk-width-auto@m">
                        <label><input class="uk-checkbox" type="checkbox"></label>
                    </div>
                    <div class="uk-width-1-5@m">
                        <span><b>Firstname Lastname</b></span>
                    </div>
                    <div class="uk-width-1-5@m">
                        <span><b>Lorem Ipsum Sit Dolor Amet</b></span>
                    </div>
                    <div class="uk-width-2-5@m">
                        <span>Sid pro aquem novit volupto aqui traje nun nobis...</span>
                    </div>
                    <div class="uk-width-expand@m">
                        <span class="uk-align-right"><b>June 4</b></span>
                    </div>
                </div>
            </li>
            <li>
                <div uk-grid>
                    <div class="uk-width-auto@m">
                        <label><input class="uk-checkbox" type="checkbox"></label>
                    </div>
                    <div class="uk-width-1-5@m">
                        <span><b>Firstname Lastname</b></span>
                    </div>
                    <div class="uk-width-1-5@m">
                        <span><b>Lorem Ipsum Sit Dolor Amet</b></span>
                    </div>
                    <div class="uk-width-2-5@m">
                        <span>Sid pro aquem novit volupto aqui traje nun nobis...</span>
                    </div>
                    <div class="uk-width-expand@m">
                        <span class="uk-align-right"><b>June 4</b></span>
                    </div>
                </div>
            </li>
            <li>
                <div uk-grid>
                    <div class="uk-width-auto@m">
                        <label><input class="uk-checkbox" type="checkbox"></label>
                    </div>
                    <div class="uk-width-1-5@m">
                        <span><b>Firstname Lastname</b></span>
                    </div>
                    <div class="uk-width-1-5@m">
                        <span><b>Lorem Ipsum Sit Dolor Amet</b></span>
                    </div>
                    <div class="uk-width-2-5@m">
                        <span>Sid pro aquem novit volupto aqui traje nun nobis...</span>
                    </div>
                    <div class="uk-width-expand@m">
                        <span class="uk-align-right"><b>June 4</b></span>
                    </div>
                </div>
            </li>
            <li>
                <div uk-grid>
                    <div class="uk-width-auto@m">
                        <label><input class="uk-checkbox" type="checkbox"></label>
                    </div>
                    <div class="uk-width-1-5@m">
                        <span><b>Firstname Lastname</b></span>
                    </div>
                    <div class="uk-width-1-5@m">
                        <span><b>Lorem Ipsum Sit Dolor Amet</b></span>
                    </div>
                    <div class="uk-width-2-5@m">
                        <span>Sid pro aquem novit volupto aqui traje nun nobis...</span>
                    </div>
                    <div class="uk-width-expand@m">
                        <span class="uk-align-right"><b>June 4</b></span>
                    </div>
                </div>
            </li>
        </ul>

    </div>

</div>

<div class="new-message new-message-toggle" hidden>
    <div class="panel-header">
        <span class="uk-float-left">New Message</span>
        <a class="uk-float-right" href="" uk-toggle="target: .new-message-toggle">
            <span uk-icon="icon: close"></span>
        </a>
        <a class="uk-float-right" href="">
            <span uk-icon="icon: expand"></span>
        </a>
        <a class="uk-float-right" href="">
            <span uk-icon="icon: minus"></span>
        </a>
    </div>
    <div class="form-wrap">
        <div class="uk-float-left inputs">
            <form>
                <input class="uk-input uk-form-blank" type="text" placeholder="To:">
                <input class="uk-input uk-form-blank" type="text" placeholder="Subject:">
            </form>
        </div>
        <div class="uk-float-left links">
            <a href="">Cc</a><a href="">Bcc</a>
        </div>
        <div class="uk-clearfix"></div>
        <div class="second-wrap">
            <textarea class="uk-textarea" rows="6" placeholder=""></textarea>
            <div class="button-nav">
                <a href="#" class="uk-button grey">
                    <span class="text">A</span>
                </a>
                <a href="#" class="uk-button grey">
                    <span uk-icon="icon: copy"></span>
                </a>
                <a href="#" class="uk-button grey">
                    <span uk-icon="icon: image"></span>
                </a>
                <a href="#" class="uk-button grey">
                    <span uk-icon="icon: link"></span>
                </a>
            </div>
            <a href="" class="uk-button uk-button-secondary">Send</a>
            <a href="" class="uk-button grey uk-float-right"><span uk-icon="icon: trash"></span></a>
            <a href="" class="uk-button grey uk-float-right">Save draft</a>
        </div>
    </div>

</div>
