<section id="login">
    <div class="login-header">
        <img class="uk-float-left" src="img/loop_logo_white.png" alt="Loop" />
        <ul class="uk-list uk-link-text">
            <li><a href="#">Help</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>

    <h1>Welcome to Loop</h1>
    <p>Please login to your account to continue</p>

    <div class="inputs">
        <form>
            <div class="uk-margin">
                <input class="uk-input uk-form-width-medium" type="text" placeholder="username">
            </div>
            <div class="uk-margin">
                <input class="uk-input uk-form-width-medium" type="text" placeholder="password">
            </div>
        </form>
        <a href="home.php" class="uk-button uk-float-right uk-button-default new-margin">
            Login
        </a>
        <div class="uk-clearfix"></div>
    </div>

    <a class="underlined" href="#">Forgot password?</a>

    <div class="uk-position-bottom-center">
        <span>First time?</span><br />
        <span><a class="underlined" href="#">Register now</a> with your school or university.</span>
    </div>

</div>