<link rel="stylesheet" href="css/new-org-add-members/sxn-new-org-add-members.v3.min.css" />

<div id="new-org-add-members">
    <h4>Add Members</h4>
    <div class="uk-card uk-card-default uk-card-body">
        <div class="add-members-wrap">
            <ul class="add-members-row-wrap">
                <li class="add-members-row">
                    <div>
                        <ul class="uk-subnav uk-subnav-pill" uk-switcher>
                            <li><a href="#">All</a></li>
                            <li><a href="#">People</a></li>
                            <li><a href="#">Organizations</a></li>
                        </ul>
                    </div>
                </li>
                <li class="add-members-row">
                    <div>
                        <form class="uk-search uk-search-default">
                            <span uk-search-icon></span>
                            <input class="uk-search-input" type="search" placeholder="Start typing to search">
                        </form>
                    </div>
                </li>
                <li class="add-members-row inner-list-wrap">
                    <div class="inner-list">
                        <ul>
                            <li>
                                <div class="member" uk-grid>
                                    <div class="uk-width-auto@m">
                                        <div class="img-wrap one"></div>
                                    </div>
                                    <div class="uk-width-expand@m">
                                        <p class="name">Alex Reekie</p>
                                        <p class="major">English Literature, 2017</p>
                                    </div>
                                    <div class="uk-width-auto@m">
                                        <div class="invite-icon">
                                            <span href="#" class="uk-icon" uk-icon="icon: mail"></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="member" uk-grid>
                                    <div class="uk-width-auto@m">
                                        <div class="img-wrap two"></div>
                                    </div>
                                    <div class="uk-width-expand@m">
                                        <p class="name">Georgina Reekie</p>
                                        <p class="major">English Literature, 2017</p>
                                    </div>
                                    <div class="uk-width-auto@m">
                                        <div class="invite-icon green">
                                            <span href="#" class="uk-icon" uk-icon="icon: check"></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="member" uk-grid>
                                    <div class="uk-width-auto@m">
                                        <div class="img-wrap one"></div>
                                    </div>
                                    <div class="uk-width-expand@m">
                                        <p class="name">Alex Reekie</p>
                                        <p class="major">English Literature, 2017</p>
                                    </div>
                                    <div class="uk-width-auto@m">
                                        <div class="invite-icon">
                                            <span href="#" class="uk-icon" uk-icon="icon: mail"></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="member" uk-grid>
                                    <div class="uk-width-auto@m">
                                        <div class="img-wrap two"></div>
                                    </div>
                                    <div class="uk-width-expand@m">
                                        <p class="name">Georgina Reekie</p>
                                        <p class="major">English Literature, 2017</p>
                                    </div>
                                    <div class="uk-width-auto@m">
                                        <div class="invite-icon green">
                                            <span href="#" class="uk-icon" uk-icon="icon: check"></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="add-members-row">
                    <a class="uk-button uk-button-primary" type="button">Create</a>
                    <a class="uk-button uk-button-cancel" type="button">Back</a>
                </li>
            </ul>
        </div>

    </div>
</div>
