<link rel="stylesheet" href="css/new-org-header/sxn-new-org-header.min.css" />

<div id="new-org-header">

    <div class="new-org-header" class="uk-child-width-1-2@m" uk-grid>
        <div>
            <h2>New Organization</h2>
        </div>
        <div>
            <a class="uk-float-right uk-button uk-button-cancel" type="button">Back</a>
            <a href="create-a-new-org-invite.php" class="uk-float-right uk-button uk-button-primary" type="button">Next</a>
        </div>
    </div>

</div>
