<link rel="stylesheet" href="css/new-comment/sxn-new-comment.min.css" />

<div id="new-comment">

    <h4>Comments</h4>

    <div class="new-comment">
        <div class="uk-card uk-card-default uk-card-body">

            <div class="add-comment" uk-grid>
                <div class="uk-width-expand@m">
                    <form>
                        <div>
                            <input class="uk-input" type="text" placeholder="+ Create a new comment">
                        </div>
                    </form>
                </div>
                <div class="uk-width-auto@m">
                    <a href="#image-upload" class="uk-icon-link" uk-icon="icon: image" uk-toggle></a>
                </div>
            </div>

        </div>
    </div>

</div>

{{>image-upload-modal}}
