<link rel="stylesheet" href="css/notifications-header/sxn-notifications-header.v2.min.css" />

<div id="notifications-top">

    <div class="notifications-header" class="uk-child-width-1-2@m" uk-grid>
        <div>
            <h2>Notifications</h2>
        </div>
        <div>
            <a class="uk-float-right uk-link">Notifications Settings</a>
        </div>
    </div>

</div>
