<link rel="stylesheet" href="css/notifications-filter/sxn-notifications-filter.v2.min.css" />

<div id="notifications-filter">
    <h4>Filter by Notification Type</h4>
    <div class="uk-card uk-card-default uk-card-body">

        <ul class="uk-subnav uk-subnav-pill" uk-switcher>
            <li><a href="#">All</a></li>
            <li><a href="#">Group Affiliation</a></li>
            <li><a href="#">Event Affiliation</a></li>
            <li><a href="#">Name Change Request</a></li>
            <li><a href="#">Flagged Posts</a></li>
        </ul>

    </div>
</div>
