<link rel="stylesheet" href="css/notifications/sxn-notifications.v2.min.css" />

<div id="notifications">

    <h4 class="today">TODAY</h4>

    <div class="notifications-item">
        <div class="uk-card uk-card-default uk-card-body">

            <div class="main-post">
                <div class="poster-avi uk-float-left">
                    <img src="img/avi.jpeg" alt="Alex Reekie" />
                </div>
                <div class="poster-info uk-float-left">
                    <span class="name">Alex Reekie</span><span class="timestamp">Today at 8:12am</span><br />
                    <span>Requested that their name be changed to <b>Firstname Lastname</b>.</span>
                </div>
                <div class="more">
                    <span class="approval green">Approve?</span>
                    <a class="approval yes" href="#">Yes</a>
                    <a class="approval" href="#">No</a>
                    <div class="uk-inline">
                        <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                        <?php include 'elements/element-user-menu.php'; ?>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="notifications-item">
        <div class="uk-card uk-card-default uk-card-body">

            <div class="main-post">
                <div class="poster-avi uk-float-left">
                    <img src="img/avi.jpeg" alt="Alex Reekie" />
                </div>
                <div class="poster-info uk-float-left">
                    <span class="name">Alex Reekie</span><span class="timestamp">Today at 8:12am</span><br />
                    <span>Indicated that their new organization is campus affiliated.</span>
                </div>
                <div class="more">
                    <span class="approval green">Approve?</span>
                    <a class="approval yes" href="#">Yes</a>
                    <a class="approval" href="#">No</a>
                    <div class="uk-inline">
                        <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                        <?php include 'elements/element-user-menu.php'; ?>
                    </div>
                </div>
                <div class="uk-clearfix"></div>
                <div class="post-content">
                    <div uk-grid>
                        <div class="uk-width-1-2@m">
                            <div class="img-wrap"></div>
                        </div>
                        <div class="uk-width-1-2@m">
                            <span class="title">Organization Name</span><br />
                            <br />
                            <span class="description">
                                Brief description lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore...
                            </span>
                            <div class="tags">
                                <span href="#" class="uk-icon" uk-icon="icon: tag"></span><span>Campus Resources, Information</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="notifications-item">
        <div class="uk-card uk-card-default uk-card-body">

            <div class="main-post">
                <div class="poster-avi uk-float-left">
                    <img src="img/avi.jpeg" alt="Alex Reekie" />
                </div>
                <div class="poster-info uk-float-left">
                    <span class="name">Alex Reekie</span><span class="timestamp">Today at 8:12am</span><br />
                    <span>Flagged <b>Firstname Lastname's</b> post as inappropriate.</span>
                </div>
                <div class="more">
                    <a class="approval yes" href="#">Message Flagger</a>
                    <a class="approval" href="#">Message Poster</a>
                    <a class="approval" href="#">Delete Post</a>
                </div>
            </div>

            <div class="uk-clearfix"></div>
            <div class="quote-post">
                <div class="poster-avi uk-float-left">
                    <img src="img/gg.png" alt="Georgina Reekie" />
                </div>
                <div class="poster-info uk-float-left">
                    <span class="name">Georgina Reekie</span><span class="timestamp">Today at 8:12am in <a href="">Campus Resources</a></span><br />
                    <span>I'd try checking out Discount Textbooks on Horne Street!</span>
                </div>
                <div class="uk-clearfix"></div>
            </div>

        </div>
    </div>

</div>
