<link rel="stylesheet" href="css/organization-detail-header/sxn-organization-detail-header.min.css" />

<div id="organization-detail-header">

    <div class="organization-detail-header top">
        <h2><a href=""><span uk-icon="icon: chevron-left"></span></a>Organization Title Lorem Ipsum</h2>
        <a href="" class="uk-float-right green"><span class="uk-icon" uk-icon="icon: pencil"></span>Edit Organization</a>
        <div class="img-wrap"></div>
    </div>

    <div class="organization-detail-header" class="uk-child-width-1-2@m" uk-grid>
        <div>
            <div class="tags">
                <span class="uk-icon" uk-icon="icon: tag"></span><span>Campus Resources, Information</span>
            </div>
        </div>
        <div>
            <div class="uk-float-right">
                <span class="green uk-icon" uk-icon="icon: check"></span><span class="green">Affiliated</span>
            </div>
            <div class="uk-clearfix"></div>
            <div class="attending uk-float-right">
                <span uk-icon="icon: users"></span><span>39 members</span>
            </div>
            <div class="uk-clearfix"></div>
        </div>
    </div>

</div>
