<link rel="stylesheet" href="css/posts/sxn-posts.v3.min.css" />

<div id="posts">

    <h4>Posts</h4>

    <div class="feed-item">
        <div class="uk-card uk-card-default uk-card-body">

            <div class="main-post">
                <div class="poster-avi uk-float-left">
                    <img src="img/avi.jpeg" alt="Alex Reekie" />
                </div>
                <div class="poster-info uk-float-left">
                    <span class="name">Alex Reekie</span><br />
                    <span>Posted at 8:12am in <a href="#">Board Name</a></span>
                </div>
                <div class="more">
                    <div class="uk-inline">
                        <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                        <?php include 'elements/element-user-menu.php'; ?>
                    </div>
                </div>
                <div class="uk-clearfix"></div>
                <div class="post-content">
                    <p>Does anyone know the cheapest place to buy textbook supplies off campus? I'm looking for this specifically!</p>
                </div>
                <div class="tags">
                    <span href="#" class="uk-icon" uk-icon="icon: tag"></span><span>Campus Resources, Information</span>
                </div>
            </div>

            <div class="divider"></div>

            <div class="reply">
                <div class="poster-avi uk-float-left">
                    <img src="img/gg.png" alt="Georgina Reekie" />
                </div>
                <div class="poster-info uk-float-left">
                    <span class="name">Georgina Reekie</span>&nbsp;<span class="timestamp">Today at 8:12am</span><br />
                    <span>I'd try checking out Discount Textbooks on Horne Street!</span>
                </div>
                <div class="more">
                    <div class="uk-inline">
                        <a class="uk-icon-link" uk-icon="icon: more-vertical" uk-toggle="target: .reply-one"></a>
                    </div>
                </div>
                <div class="uk-clearfix"></div>
            </div>

            <div class="divider reply-one" hidden></div>

            <div class="add-comment add-comment-reply reply-one" uk-grid hidden>
                <div class="uk-width-expand@m">
                    <form>
                        <div>
                            <input class="uk-input" type="text" placeholder="Add comment...">
                            <a class="uk-button uk-button-default">
                                Comment
                            </a>
                        </div>
                    </form>
                </div>
                <div class="uk-width-auto@m">
                    <a href="#image-upload" class="uk-icon-link" uk-icon="icon: image" uk-toggle></a>
                </div>
            </div>

            <div class="divider"></div>

            <div class="reply">
                <div class="poster-avi uk-float-left">
                    <img src="img/avi.jpeg" alt="Alex Reekie" />
                </div>
                <div class="poster-info uk-float-left">
                    <span class="name">Alex Reekie</span>&nbsp;<span class="timestamp">Today at 8:12am</span><br />
                    <span>Thanks! Will do!</span>
                </div>
                <div class="more">
                    <div class="uk-inline">
                        <a class="uk-icon-link" uk-icon="icon: more-vertical" uk-toggle="target: .reply-two"></a>
                    </div>
                </div>
                <div class="uk-clearfix"></div>
            </div>

            <div class="divider reply-two" hidden></div>

            <div class="add-comment add-comment-reply reply-two" uk-grid hidden>
                <div class="uk-width-expand@m">
                    <form>
                        <div>
                            <input class="uk-input" type="text" placeholder="Add comment...">
                            <a class="uk-button uk-button-default">
                                Comment
                            </a>
                        </div>
                    </form>
                </div>
                <div class="uk-width-auto@m">
                    <a href="#image-upload" class="uk-icon-link" uk-icon="icon: image" uk-toggle></a>
                </div>
            </div>

            <div class="load-more more-comments">
                <a uk-toggle="target: .more-comments">3 more comments</a>
            </div>

            <div class="more-comments" hidden>

                <div class="divider"></div>

                <div class="reply">
                    <div class="poster-avi uk-float-left">
                        <img src="img/gg.png" alt="Georgina Reekie" />
                    </div>
                    <div class="poster-info uk-float-left">
                        <span class="name">Georgina Reekie</span>&nbsp;<span class="timestamp">Today at 8:12am</span><br />
                        <span>You're very welcome :)</span>
                    </div>
                    <div class="more">
                        <div class="uk-inline">
                            <a class="uk-icon-link" uk-icon="icon: more-vertical" uk-toggle="target: .reply-three"></a>
                        </div>
                    </div>
                    <div class="uk-clearfix"></div>
                </div>

                <div class="divider reply-three" hidden></div>

                <div class="add-comment add-comment-reply reply-three" uk-grid hidden>
                    <div class="uk-width-expand@m">
                        <form>
                            <div>
                                <input class="uk-input" type="text" placeholder="Add comment...">
                                <a class="uk-button uk-button-default">
                                    Comment
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="uk-width-auto@m">
                        <a href="#image-upload" class="uk-icon-link" uk-icon="icon: image" uk-toggle></a>
                    </div>
                </div>

                <div class="divider"></div>

                <div class="reply">
                    <div class="poster-avi uk-float-left">
                        <img src="img/avi.jpeg" alt="Alex Reekie" />
                    </div>
                    <div class="poster-info uk-float-left">
                        <span class="name">Alex Reekie</span>&nbsp;<span class="timestamp">Today at 8:12am</span><br />
                        <span>Free later?</span>
                    </div>
                    <div class="more">
                        <div class="uk-inline">
                            <a class="uk-icon-link" uk-icon="icon: more-vertical" uk-toggle="target: .reply-four"></a>
                        </div>
                    </div>
                    <div class="uk-clearfix"></div>
                </div>

                <div class="divider reply-four" hidden></div>

                <div class="add-comment add-comment-reply reply-four" uk-grid hidden>
                    <div class="uk-width-expand@m">
                        <form>
                            <div>
                                <input class="uk-input" type="text" placeholder="Add comment...">
                                <a class="uk-button uk-button-default">
                                    Comment
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="uk-width-auto@m">
                        <a href="#image-upload" class="uk-icon-link" uk-icon="icon: image" uk-toggle></a>
                    </div>
                </div>

                <div class="divider"></div>

                <div class="reply">
                    <div class="poster-avi uk-float-left">
                        <img src="img/gg.png" alt="Georgina Reekie" />
                    </div>
                    <div class="poster-info uk-float-left">
                        <span class="name">Georgina Reekie</span>&nbsp;<span class="timestamp">Today at 8:12am</span><br />
                        <span>No. Sorry.</span>
                    </div>
                    <div class="more">
                        <div class="uk-inline">
                            <a class="uk-icon-link" uk-icon="icon: more-vertical" uk-toggle="target: .reply-five"></a>
                        </div>
                    </div>
                    <div class="uk-clearfix"></div>
                </div>

                <div class="divider reply-five" hidden></div>

                <div class="add-comment add-comment-reply reply-five" uk-grid hidden>
                    <div class="uk-width-expand@m">
                        <form>
                            <div>
                                <input class="uk-input" type="text" placeholder="Add comment...">
                                <a class="uk-button uk-button-default">
                                    Comment
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="uk-width-auto@m">
                        <a href="#image-upload" class="uk-icon-link" uk-icon="icon: image" uk-toggle></a>
                    </div>
                </div>

                <div class="divider"></div>

            </div>

            <div class="add-comment" uk-grid>
                <div class="uk-width-expand@m">
                    <form>
                        <div>
                            <input class="uk-input" type="text" placeholder="Add comment...">
                            <a class="uk-button uk-button-default">
                                Comment
                            </a>
                        </div>
                    </form>
                </div>
                <div class="uk-width-auto@m">
                    <a href="#image-upload" class="uk-icon-link" uk-icon="icon: image" uk-toggle></a>
                </div>
            </div>

        </div>
    </div>

</div>
{{>image-upload-modal}}