<link rel="stylesheet" href="css/profile-user/sxn-profile-user.min.css" />

<div id="profile-user">

    <div class="profile-user" uk-grid>
        <div class="col uk-width-1-1@m">
            <div class="member" uk-grid>
                <div class="uk-width-auto@m">
                    <div class="img-wrap"></div>
                </div>
                <div class="uk-width-expand@m">
                    <p class="name">
                        Georgina Reekie<br/>
                        <span class="major">English Literature, 2017</span>
                    </p>
                    <a href=""><span class="uk-icon" uk-icon="icon: mail"></span>Message User</a>
                </div>
            </div>
        </div>
    </div>

</div>
