<link rel="stylesheet" href="css/profile-top-admin-view/sxn-profile-top-admin-view.min.css" />

<div id="profile-top-admin-view">

    <div class="profile-top-admin-view" uk-grid>
        <div class="col uk-width-1-1@m">
            <div class="member" uk-grid>
                <div class="uk-width-auto@m">
                    <div class="img-wrap"></div>
                </div>
                <div class="uk-width-expand@m">
                    <p class="name">Alex Reekie</p>
                    <a href=""><span class="uk-icon" uk-icon="icon: pencil"></span>Edit profile</a>
                </div>
            </div>
        </div>
    </div>

</div>
