<link rel="stylesheet" href="css/recent-activity/sxn-recent-activity.min.css" />

<div id="recent-activity">
    <h4>Recent Activity</h4>
    <div class="uk-card uk-card-default uk-card-body">

        <ul>

            <li>
                <p class="activity-title">You created a challenge in partnership with <a href="">Group Name</a>&nbsp;<span class="timestamp">at 8:15pm in <a href="">Board Name</a></span></p>
                <div class="challenge-submissions" uk-grid>
                    <div class="uk-width-1-2@m">
                        <div class="img-wrap"></div>
                    </div>
                    <div class="uk-width-expand@m">

                        <p class="title">Challenge Title</p>
                        <p class="description">Brief description lorem ipsum sit dolor amet proque nobis aet aplis volumptua attena Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam...</p>
                        <p class="deadline"><span uk-icon="icon: calendar"></span>Deadline: June 15 at 11:59pm</p>

                    </div>
                    <div class="uk-width-auto@m">
                        <div>
                            <span>481 Submissions</span>
                        </div>
                    </div>
                </div>
            </li>

        </ul>

    </div>
</div>
