<link rel="stylesheet" href="css/scroll-title-home/sxn-scroll-title-home.v3.css" />

<div id="scroll-title-home" uk-grid>
    <div class="uk-width-expand@s">
        <h4>System Traffic</h4>
    </div>
    <div class="uk-width-auto@s">
        <a href="#" class="uk-icon-link" uk-icon="icon: close" uk-toggle="target: .col-tog, .app-link"></a>
    </div>
</div>
