<link rel="stylesheet" href="css/settings-header/sxn-settings-header.min.css" />

<div id="settings-header">

    <div class="settings-header top">
        <h2 class="uk-float-left">Settings</h2>
        <a href="" class="uk-float-right green">Help</a>
        <div class="uk-clearfix"></div>
    </div>

</div>
