<link rel="stylesheet" href="css/settings/sxn-settings.min.css" />

<div id="settings">

    <h3>General</h3>
    <div class="divider"></div>
    <h3>Notifications</h3>
    <div class="divider"></div>
    <h3>Iterface</h3>
    <div class="divider"></div>
    <h3>Automation</h3>
    <div class="divider"></div>
    <h3>Permissions</h3>

</div>
