<link rel="stylesheet" href="css/side-stat/sxn-stat.css" />

<div id="stat">

    <div uk-grid>
        <div class="uk-width-1-2@m">
            <span class="number uk-float-right">
                213
            </span>
            <div class="uk-clearfix"></div>
        </div>
        <div class="uk-width-1-2@m">
            <span class="uk-float-left">
                Lorem ipsum<br/>
                sit dolor
            </span>
            <div class="uk-clearfix"></div>
        </div>
    </div>

</div>
