<link rel="stylesheet" href="css/side-text/sxn-text.css" />

<div id="text">
    <p>
        <b>Lorem Ipsum</b><br/>
        Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonummy nibh euismod.
    </p>
</div>
