<link rel="stylesheet" href="css/side-profile-details/sxn-profile-details.css" />

<div id="profile-details" uk-grid>
    <div class="uk-width-expand@s">
        <h4>Profile Details</h4>
    </div>
    <div class="uk-width-auto@s">
        <a href="#" class="uk-icon-link" uk-icon="icon: close" uk-toggle="target: .col-tog, .app-link"></a>
    </div>
</div>
