<link rel="stylesheet" href="css/side-feed/sxn-feed.v5.css" />

<div id="feed">

    <div class="feed-item">
        <div class="uk-card uk-card-default uk-card-body">

            <div class="main-post">
                <div class="poster-avi uk-float-left">
                    <img src="img/avi.jpeg" alt="Alex Reekie" />
                </div>
                <div class="poster-info uk-float-left">
                    <span class="name">Alex Reekie</span><br />
                    <span>Posted at 8:12am in <a href="#">Board Name</a></span>
                </div>
                <div class="more">
                    <div class="uk-inline">
                        <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                        <?php include 'elements/element-user-menu.php'; ?>
                    </div>
                </div>
                <div class="uk-clearfix"></div>
                <div class="post-content">
                    <p>Does anyone know the cheapest place to buy textbook supplies off campus? I'm looking for this specifically!</p>
                </div>
                <div class="tags">
                    <span href="#" class="uk-icon" uk-icon="icon: tag"></span><span>Campus Resources, Information</span>
                </div>
            </div>

        </div>
    </div>

</div>

<?php include 'elements/element-image-upload-modal.php'; ?>
