<link rel="stylesheet" href="css/side-profile-image/sxn-profile-image.css" />

<div id="profile-image">
    <div class="img-wrap"></div>
    <p>
        Firstname<br/>
        Lastname
    </p>
</div>
