<link rel="stylesheet" href="css/side-event/sxn-event.css" />

<div id="event">
    <h3>Event Name Lorem Ipsum</h3>
    <div class="tags">
        <span class="uk-icon" uk-icon="icon: tag"></span><span>Campus Resources, Information</span>
    </div>
    <img src="/loop-img/event.png"></img>
    <p>
        Hosted by <b>Lorem Ipsum</b><br />
        July 7, 2017<br />
        8:30 - 10:30pm<br />
        Student Union<br />
    </p>
    <p class="green">
        <span class="uk-icon" uk-icon="icon: check"></span>
        Affiliated
    </p>
    <p># of Attendees</p>
    <p>
        <b>Lorem Ipsum</b><br />
        Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonummy nibh euismod.
        <br/><br/>
        Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonummy nibh euismod.
    </p>
</div>
