<link rel="stylesheet" href="css/side-event-details/sxn-event-details.css" />

<div id="event-details" uk-grid>
    <div class="uk-width-expand@s">
        <h4>Event Details</h4>
    </div>
    <div class="uk-width-auto@s">
        <a href="#" class="uk-icon-link" uk-icon="icon: close" uk-toggle="target: .col-tog, .app-link"></a>
    </div>
</div>
