<link rel="stylesheet" href="css/tags-followed/sxn-tags-followed.v2.min.css" />

<div id="tags-followed">

    <h2>Tags Following</h2>

    <div class="uk-card uk-card-default uk-card-body">

        <div class="tags">
            <ul class="uk-subnav uk-subnav-pill" uk-switcher>
                <li><a href="#"><span class="uk-icon" uk-icon="icon: tag"></span>Film</a></li>
                <li><a href="#"><span class="uk-icon" uk-icon="icon: tag"></span>English Literature</a></li>
                <li><a href="#"><span class="uk-icon" uk-icon="icon: tag"></span>Travel</a></li>
            </ul>
        </div>

    </div>

</div>
