<link rel="stylesheet" href="css/titles/sxn-titles.min.css" />

<div id="titles">

    <h4>Titles/Positions</h4>

    <div class="uk-card uk-card-default uk-card-body">

        <div uk-grid>

            <div class="uk-width-1-3@m">
                <p>
                    <b>Title Header</b><br/>
                    <span>Title Desciption</span>
                </p>
            </div>
            <div class="uk-width-1-3@m">
                <p>
                    <b>Title Header</b><br/>
                    <span>Title Desciption</span>
                </p>
            </div>
            <div class="uk-width-1-3@m">
                <p>
                    <b>Title Header</b><br/>
                    <span>Title Desciption</span>
                </p>
            </div>

        </div>

    </div>

</div>
