<div id="topbar">
    <div class="uk-float-left">
        <form class="uk-search uk-search-default">
            <span uk-search-icon></span>
            <input class="search-drop-input uk-search-input" type="search" placeholder="Search for anything">
            <div class="search-drop">

                <ul class="uk-subnav uk-subnav-pill" uk-switcher>
                    <li><a href="#">All</a></li>
                    <li><a href="#">Posts</a></li>
                    <li><a href="#">Challenges</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Polls</a></li>
                    <li><a href="#">Sales</a></li>
                </ul>

                <div class="divider"></div>

                <div class="search-row">
                    <img src="/loop-img/avi.jpeg"></img>
                    <span>
                        <b>Alex Reekie</b><br/>
                        English Literature, 2017
                    </span>
                    <div class="more">
                        <div class="uk-inline">
                            <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                            <?php include 'elements/element-user-menu.php'; ?>
                        </div>
                    </div>
                    <div class="uk-clearfix"></div>
                </div>
                <div class="divider"></div>

                <div class="search-row">
                    <img class="event" src="/loop-img/event.png"></img>
                    <span>
                        <b>Event Name</b><br/>
                        July 7, 2017<br/>
                        8:30pm to 10:30pm
                    </span>
                    <div class="more">
                        <div class="uk-inline">
                            <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                            <?php include 'elements/element-user-menu.php'; ?>
                        </div>
                    </div>
                    <div class="uk-clearfix"></div>
                </div>
                <div class="divider"></div>

                <div class="search-row">
                    <img src="/loop-img/avi.jpeg"></img>
                    <span>
                        <b>Alex Reekie</b><br/>
                        English Literature, 2017
                    </span>
                    <div class="more">
                        <div class="uk-inline">
                            <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                            <?php include 'elements/element-user-menu.php'; ?>
                        </div>
                    </div>
                    <div class="uk-clearfix"></div>
                </div>

            </div>
        </form>
    </div>
    <div class="uk-float-right">
        <div class="uk-inline">
            <a href="#">
                <span class="uk-badge" type="button">15</span>
                <span class="uk-icon uk-margin-small-right" uk-icon="icon: bell"></span>
            </a>
            <div uk-drop="mode: click">
                <div class="uk-card uk-card-body uk-card-default">
                    <ul>
                        <li>
                            <a href="inbox.php">
                                <span uk-icon="icon: mail"></span>You have <b>5</b> new messages
                            </a>
                        </li>
                        <li>
                            <a href="notifications.php">
                                <span uk-icon="icon: check"></span><b>6</b> orgs need your approval
                            </a>
                        </li>
                        <li>
                            <a href="notifications.php">
                                <span uk-icon="icon: bookmark"></span><b>2</b> posts have been flagged
                            </a>
                        </li>
                        <li>
                            <a href="notifications.php">
                                <span uk-icon="icon: user"></span><b>3</b> new members
                            </a>
                        </li>
                        <li>
                            <a class="green" href="notifications.php">
                                See all notifications
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <span class="text-light uk-margin-small-right">|</span>
        <a href="#" class="uk-icon-link app-link" uk-icon="icon: more-vertical" uk-toggle="target: .col-tog, .app-link"></a>
        <a href="#" class="uk-icon-link app-link green" uk-icon="icon: more-vertical" uk-toggle="target: .col-tog, .app-link" hidden></a>
    </div>
</div>
<div class="topbar-nudge"></div>
