<div id="user-warn" uk-modal>
    <div class="uk-modal-dialog uk-modal-body ux-text-center">
        <h2 class="uk-modal-title">You are about to warn this user. If the user is
flagged again, they will be blocked from this board.</h2>
        <textarea class="uk-textarea" rows="5" placeholder="Let the user know why they are being warned (private)..."></textarea>
        <p class="uk-text-center">
            <button class="uk-button uk-button-primary" type="button">Warn</button>
            <button class="uk-button uk-button-cancel uk-modal-close" type="button">Cancel</button>
        </p>
    </div>
</div>
