#notifications-top .notifications-header{
    padding: 0 30px;
    margin: 30px 0 0;
}
#notifications-top .notifications-header h2{
    margin: 0 0 30px;
}
#notifications-top .notifications-header.uk-grid>*{
    padding-left: 0px;
    width: 50%;
}
#notifications-top .notifications-header .uk-link {
    margin: 15px 0 0;
}
