#titles .titles{
    padding: 0 30px;
    margin: 30px 0;
}
#titles .uk-card-body{
    padding: 0;
    margin: 0 30px 30px;
}
#titles h4 {
    margin: 30px;
    font-weight: 400;
}
#titles .uk-card-body div.uk-grid{
    width: calc(100% - 120px);
    margin: 0;
}
#titles .uk-card-body div div{
    padding: 20px;
    border-left: 1px solid #d1d2d3;
}
#titles .uk-card-body div div.uk-first-column{
    border-left: none;
}
