{{>sidenav}}
<div class="col-tog single-col">

    <div class="app">
        {{>topbar}}
        {{>challenge-header}}
        {{>new-comment}}
        {{>challenge-submissions}}

    </div>

</div>

<div class="col-tog double-col" hidden>

    <div class="side-col">
        <div class="side-col-scroll">
        {{>scroll-title-home}}
        </div>
    </div>

    <div class="app double">
        {{>topbar}}
        {{>challenge-header}}
        {{>new-comment}}
        {{>challenge-submissions}}
    </div>

</div>

