
{{>sidenav}}
<div class="col-tog single-col">

    <div class="app">
        {{>topbar}}
        {{>events-overview-header}}
        {{>events-overview-board-notifications-create}}

    </div>

</div>

<div class="col-tog double-col" hidden>

    <div class="side-col">
        <div class="side-col-scroll">
        {{>scroll-title-home}}
        </div>
    </div>

    <div class="app double">
        {{>topbar}}
        {{>events-overview-header}}
        {{>events-overview-board-notifications-create}}
    </div>

</div>

