{{>sidenav}}

<div class="col-tog single-col">

    <div class="app">

        {{>topbar}}
        {{>challenge-overview-header}}
        {{>challenge-overview-board-notifications-add-members}}
        {{>challenges}}

    </div>

</div>

<div class="col-tog double-col" hidden>

    <div class="side-col">
        <div class="side-col-scroll">

            <?php include 'side-sxn/scroll-title-home/sxn-scroll-title-home.php'; ?>

        </div>
    </div>

    <div class="app double">

        {{>topbar}}
        {{>challenge-overview-header}}
        {{>challenge-overview-board-notifications-add-members}}
        {{>challenges}}

    </div>

</div>