{{>sidenav}}

<div class="col-tog single-col">

    <div class="app">
        {{>topbar}}
        {{>edit-organization-header}}
        {{>edit-org-name}}
        {{>edit-description}}
        {{>add-edit-tags}}
        {{>add-edit-leaders}}
        {{>add-edit-members}}

    </div>

</div>

<div class="col-tog double-col" hidden>

    <div class="side-col">
        <div class="side-col-scroll">
        {{>scroll-title-home}}
        </div>
    </div>

    <div class="app double">
        {{>topbar}}
        {{>edit-organization-header}}
        {{>edit-org-name}}
        {{>edit-description}}
        {{>add-edit-tags}}
        {{>add-edit-leaders}}
        {{>add-edit-members}}
    </div>

</div>
