{{>sidenav}}
<div class="col-tog single-col">

    <div class="app">
        {{>topbar}}
        {{>feed-header}}
        {{>feed}}
        {{>feed-event}}
    </div>

</div>

<div class="col-tog double-col" hidden>

    <div class="side-col">
        <div class="side-col-scroll">
            {{>side-profile-details}}
            {{>side-profile-image}}
            {{>side-divider}}
            {{>side-profile-info}}
            {{>side-board-name}}
            {{>side-text}}
            {{>side-feed}}

        </div>
    </div>

    <div class="app double">
        {{>topbar}}
        {{>feed-header}}
        {{>feed}}
        {{>feed-event}}

    </div>

</div>

