{{>sidenav}}
<div class="col-tog single-col">

    <div class="app">
        {{>topbar}}
        {{>general-settings-header}}
        {{>general-settings}}
    </div>

</div>

<div class="col-tog double-col" hidden>

    <div class="side-col">
        <div class="side-col-scroll">
            {{>scroll-title-home}}

        </div>
    </div>

    <div class="app double">
        {{>topbar}}
        {{>general-settings-header}}
        {{>general-settings}}
    </div>

</div>
