{{>sidenav}}
<div class="col-tog single-col">

    <div class="app">
        {{>topbar}}
        {{>greeting}}
        {{>overview}}
        {{>analytics}}

    </div>

</div>

<div class="col-tog double-col" hidden>

    <div class="side-col">
        <div class="side-col-scroll">
            {{>scroll-title-home}}
            {{>side-board-traffic}}
            {{>side-stat}}
            {{>side-text-with-icon}}
        </div>
    </div>

    <div class="app double">
        {{>topbar}}
        {{>greeting}}
        {{>overview}}
        {{>analytics}}

    </div>

</div>

