{{>sidenav}}
<div class="col-tog single-col">

    <div class="app">
        {{>topbar}}
        {{>inbox}}

    </div>

</div>

<div class="col-tog double-col" hidden>

    <div class="side-col">
        <div class="side-col-scroll">
            {{>side-profile-details}}
            {{>side-profile-image}}
            {{>side-divider}}
            {{>side-text}}
            {{>side-text}}
            {{>side-text}}
        </div>
    </div>

    <div class="app double">
        {{>topbar}}
        {{>inbox}}


    </div>

</div>
