{{>sidenav}}
<div class="col-tog single-col">

    <div class="app">
        {{>topbar}}
        {{>inbox-message-header}}
        {{>inbox-message}}

    </div>

</div>

<div class="col-tog double-col" hidden>

    <div class="side-col">
        <div class="side-col-scroll">
        {{>scroll-title-home}}
        </div>
    </div>

    <div class="app double">

        {{>topbar}}
        {{>inbox-message-header}}
        {{>inbox-message}}
    </div>

</div>

