{{>sidenav}}
<div class="col-tog single-col">

    <div class="app">

        {{>topbar}}
        {{>profile-header}}
        {{>profile-user}}
        {{>bio}}
        {{>tags-followed}}
        {{>titles}}
        {{>boards-following}}
        {{>board-permissions}}

    </div>

</div>

<div class="col-tog double-col" hidden>

    <div class="side-col">
        <div class="side-col-scroll">
        {{>scroll-title-home}}
        </div>
    </div>

    <div class="app double">
        {{>topbar}}
        {{>profile-header}}
        {{>profile-user}}
        {{>bio}}
        {{>tags-followed}}
        {{>titles}}
        {{>boards-following}}
        {{>board-permissions}}

    </div>

</div>