<link rel="stylesheet" href="css/login.v5.min.css" />
<section id="login">
    <div class="login-header">
        <img class="uk-float-left" src="img/loop_logo_white.png" alt="Loop" />
        <ul class="uk-list uk-link-text">
            <li><a href="#">Help</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>

    <h1>Welcome to Loop</h1>
    <p>Create your account by completing the fields below:</p>

    <div class="inputs">
        <form>
            <div class="uk-margin">
                <select class="uk-select">
                    <option>Select your university</option>
                    <option>Hogwarts</option>
                    <option>Charles Xavier's School for Gifted Youngsters</option>
                    <option>Monster's University</option>
                </select>
            </div>
            <div class="uk-margin">
                <input class="uk-input uk-form-width-medium" type="text" placeholder="Administrative ID">
            </div>
            <div class="uk-margin">
                <input class="uk-input uk-form-width-medium" type="text" placeholder="Email">
            </div>
            <a href="" class="uk-button uk-button-default">
                Next
            </a>
            <a href="" class="uk-button uk-button-secondary">
                Cancel
            </a>
        </form>
    </div>
    <br></br>
    <br></br>
    <div class="uk-position-bottom-center">
        <span><a class="underlined" href="#">Help me</a> register my account.</span>
    </div>

</div>
