.dev-header{
    color: red;
    padding-left: 30px;
}

.green,
.uk-icon-link.green,
.uk-link{
    color: #00d283 !important;
}
.bg-green,
.uk-button-primary{
    background: #00d283;
    border: 1px solid #00d283;
}
.uk-button-primary:hover{
    background: #fff;
    color: #00d283;
    border: 1px solid #00d283;
}
.uk-button-cancel{
    background: #404041;
    color: #fff;
    border: 1px solid #404041;
}
.uk-button-cancel:hover{
    background: #fff;
    color: #404041;
    border: 1px solid #404041;
}
.dark-grey{
    background: #404040;
}
.light-grey{
    background: #f9f9f9;
}
.border-grey{
    border: 1px solid #d1d2d3;
}
.text-dark{
    color: #58595b;
}
.text-light{
    color: #a7a9ac;
}
.uk-modal-title {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 30px;
}
.uk-modal-dialog .uk-button{
    margin: 0 0 30px;
}
.uk-modal-dialog .uk-button-primary,
.uk-modal-dialog .uk-button-cancel{
    margin: 0;
}
.uk-modal-dialog .uk-button .uk-margin-small-bottom{
    margin: 0 0 5px !important;
}

html,body{
    font-family: 'Montserrat', sans-serif !important;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 100;
}
h2,h3,h4{
    font-weight: 200;
}
.uk-link, a {
    color: #00d283;
}
.uk-link:hover, a:hover {
    color: #00d283;
}

.sidenav-wrap{
    width: 300px;
    position: fixed;
    z-index: 50;
}
.app{
    position: relative;
    width: calc(100% - 300px);
    background: #f9f9f9;
    min-height: 100vh;
    margin: 0 0 0 300px;
    box-shadow: inset 1px 0px 5px rgba(0,0,0,0.2);
    padding: 0 0 30px;
}
.app.double{
    width: calc(100% - 600px);
}
.side-col{
    position: fixed;
    background: #f9f9f9;
    width: 300px;
    right: 0;
    padding: 70px 0 30px;
}
.side-col-scroll{
    width: 100%;
    height: 100vh;
    overflow: scroll;
}
#sidenav{
    width: 300px;
    background: #404041;
    height: 100vh;
    position: relative;
    box-shadow: 1px 0px 5px rgba(0,0,0,0.2);
    z-index: 3;
    overflow: scroll;
}
#sidenav .img-wrap{
    width: 100%;
    height: 100px;
}
#sidenav .img-wrap img{
    height: 50px;
    margin: 30px;
}
#sidenav .avi-wrap {
    margin: 0 0 30px;
}
#sidenav .avi-wrap img{
    border: 2px solid #fff;
    border-radius: 100%;
    height: 65px;
    width: 65px;
    display: block;
    float: left;
    margin: 0 15px 0 30px;
}
#sidenav .name-link {
    float: left;
    width: 160px;
    margin: 0 30px 0 0;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}
#sidenav .name-link .name-below{
    color: #adadad;
    font-size: 14px;
}
#sidenav .name-link .name-below span.uk-icon{
    margin: 0 0 0 10px;
}
#sidenav li {
    border-bottom: 1px solid #adadad;
}
#sidenav span.uk-icon,
#topbar .uk-card ul li span.uk-icon,
.more .uk-card ul li span.uk-icon{
    margin: 0 10px 0 0;
    position: relative;
    top: -1px;
}
#sidenav li a,
#topbar .uk-card ul li a,
.more .uk-card ul li a{
    color: #fff;
    padding: 15px 30px;
}
#sidenav .uk-card li a{
    color: #58595b;
    width: 100%;
}
#sidenav .uk-card li a.green{
    color: #00d283;
}
#sidenav .uk-card li a span.uk-icon{
    margin: 0 10px 0 0 !important;
    position: relative;
    top: -1px;
}
#topbar .uk-card ul li a,
.more .uk-card ul li a{
    color: #58595b;
    display: block;
    width: 100%;
}
#sidenav li a:hover,
#topbar .uk-card ul li a:hover,
.more .uk-card ul li a:hover{
    background: #00d283;
    color: #fff;
    text-decoration: none;
}
#sidenav li:last-child,
#topbar .uk-card ul li:last-child,
.more .uk-card ul li:last-child{
    border-bottom: none;
}
#sidenav .create-list li {
    border-bottom: 1px solid #adadad;
}
#sidenav .uk-nav-default {
    margin: 0 0 54px;
}
#sidenav .create-list ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#sidenav a.create,
#sidenav .create-list a {
    width: 300px;
    color: #00d283;
    padding: 15px 0;
    display: block;
    text-align: center;
    background: #fff;
}
#sidenav .create-list a {
    color: #58595b;
}
#sidenav a.create:hover,
#sidenav .create-list a:hover {
    background: #00d283;
    color: #fff;
}
#sidenav .uk-position-bottom-center{
    left: 0;
    -webkit-transform: none;
    transform: none;
    display: table;
    position: fixed !important;
}
#sidenav .uk-nav-sub {
    padding: 0;
}
#sidenav .uk-nav-sub li:first-child {
    border-top: 1px solid #adadad;
}
#sidenav .uk-nav-sub li a {
    padding: 15px 0 15px 45px;
}

#topbar{
    width: calc(100% - 360px);
    padding: 15px 30px;
    background: #fff;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
    position: fixed;
    height: 40px;
    z-index: 2;
}
#topbar .uk-search-default .uk-search-input {
    border-radius: 20px;
    width: 350px;
}
#topbar .uk-icon-link {
    color: #999;
    line-height: 40px;
}
#topbar .uk-badge {
    background: #00d283;
    border: 1px solid #00d283 !important;
    border: none;
    line-height: 14px;
}
#topbar a:hover,
#topbar a:active {
    text-decoration: none;
}
#topbar a:hover .uk-badge,
#topbar a:active .uk-badge {
    background: #fff;
    color: #00d283;
}
#topbar .uk-card,
.more .uk-card,
#sidenav .uk-card {
    padding: 0 !important;
    border: 1px solid #00d283;
}
#topbar .uk-card ul,
.more .uk-card ul,
#sidenav .uk-card ul {
    padding: 0;
    margin: 0;
}
#topbar .uk-card ul li,
.more .uk-card ul li,
#sidenav .uk-card ul li{
    list-style-type: none;
    border-bottom: 1px solid #f1f2f3;
    width: 100%;
    display: flex;
}
#topbar .uk-card ul li a.green,
.more .uk-card ul li a.green,
#sidenav .uk-card ul li a.green{
    color: #00d283;
}
#topbar .uk-card ul li a.green:hover,
.more .uk-card ul li a.green:hover,
#sidenav .uk-card ul li a.green:hover{
    color: #fff !important;
}
.topbar-nudge{
    width: calc(100% - 360px);
    height: 70px;
}
span.name-below .uk-icon.white{
    color: #fff;
}

.search-drop{
    width: 600px;
    height: 300px;
    background: #fff;
    display: none;
    border: 2px solid #00d283;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    margin: 5px 0 0;
    overflow-x: scroll;
}
.search-drop-input:focus + div{
    display: block;
}
.search-drop .uk-subnav-pill{
    margin: 20px;
}
.search-drop .uk-subnav-pill>.uk-active>a {
    background-color: #00d283;
    color: #fff;
}
.search-drop .uk-subnav-pill>*>:first-child {
    background: #f9f9f9;
    border-radius: 20px;
}
.search-drop .divider{
    width: 100%;
    border-top: 1px solid #d1d2d3;
}
.search-drop .search-row{
    position: relative;
}
.search-drop .search-row .more{
    position: absolute;
    top: 20px;
    right: 20px;
}
.search-drop .search-row img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 20px;
    float: left;
}
.search-drop .search-row img.event{
    width: 120px;
    height: 70px;
    border-radius: 20px;
    margin: 20px;
    float: left;
}
.search-drop .search-row span{
    float: left;
    margin: 22px 0 0;
}

.uk-search-default {
    width: 180px;
    position: relative;
}
.uk-search-default .uk-search-icon {
    width: 40px;
    position: absolute;
    top: 10px;
    bottom: initial;
}

.uk-drop.uk-open {
    display: block;
    position: fixed;
}
