html,body{
    background: #00d283;
    color: #fff;
    position: relative;
}
h1,h2,h3{
    color: #fff;
    font-weight: 100;
}
h1{
    font-size: 90px;
    margin: 13vh 0 30px;
}

#login{
    text-align: center;
    min-height: 100vh;
    position: relative;
    background-image: url('img/loop-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#login a:hover{
    color: #fff;
}
#login .login-header{
    width: calc(100% - 60px);
    height: 50px;
    padding: 30px 30px 0;
}
#login .login-header ul{
    margin: 0;
}
#login .login-header li{
    float: right;
    margin: 0 70px 0 0;
    line-height: 30px;
}
#login .login-header img{
    height: 50px;
}
#login a.underlined{
    color: #fff;
    text-decoration: underline;
}
#login a.underlined:hover{
    text-decoration: none;
}

#login .inputs{
    padding: 10px 0;
    width: 330px;
    margin: 0 auto;
}
#login input,
#login select{
    border: none;
    border-radius: 20px;
    padding: 0 15px;
    font-size: 13px;
    width: 330px;
}

#login .uk-position-bottom-center{
    padding: 50px 0;
}

#login a.uk-button{
    border-radius: 20px;
}
#login a.uk-button-default{
    background: #fff;
    color: #00d283;
    margin: 0 15px 0 0;
}
#login a.uk-button-default.new-margin{
    margin: 0 0 30px;
}
#login a.uk-button-default:hover{
    background: #00d283;
    color: #fff;
    border: 1px solid #fff;
}
.uk-modal-dialog h2{
    color: #58595b;
}
