#board-notifications{
    padding: 0 30px;
    margin: 0 0 30px;
}
#board-notifications svg:not(:root) {
    color: #00d283;
}
#board-notifications .triple-wrap div div div span svg:not(:root) {
    width: 100%;
    height: 100%;
}
#board-notifications .uk-card-body{
    padding: 20px;
    position: relative;
}
#board-notifications div.slide-link{
    position: absolute;
}
#board-notifications div.slide-link.left{
    left: 20px;
    top: 100px;
}
#board-notifications div.slide-link.right{
    right: 20px;
    top: 100px;
}
#board-notifications div.slide-link .uk-slidenav-large.disabled svg{
    color: #a7a9ac;
}
#board-notifications .uk-grid-match{
    padding: 10px;
}
#board-notifications .triple-wrap{
    width: calc(100% - 40px);
    margin: 0 0 0 -10px;
}
#board-notifications p{
    margin: 0;
}
#board-notifications .title{
    margin: 0;
    font-weight: 600;
}
#board-notifications .approval{
    color: #58585b;
    text-decoration: underline;
}
#board-notifications .approval:hover{
    text-decoration: none;
}
#board-notifications .approval.yes{
    margin: 0 10px;
}
#board-notifications .add-comment{
    margin: 10px 0 0 -40px;
}
#board-notifications .add-comment input{
    border-radius: 20px;
}
#board-notifications .add-comment .uk-icon-link {
    margin: 10px 10px 0 -10px;
}
#board-notifications .add-comment ::-webkit-input-placeholder,
#board-notifications .add-comment ::-moz-placeholder,
#board-notifications .add-comment :-ms-input-placeholder,
#board-notifications .add-comment :-moz-placeholder{
    color: #00d283;
}

#board-notifications .create-wrap{
    border: 1px solid #d1d2d3;
    width: 100%;
    border-radius: 20px;
    margin: 20px 0 0;
}
#board-notifications h4.inner{
    margin: 0 30px 0 30px;
    padding: 20px 0;
    font-weight: 400;
    color: #00d283;
}
#board-notifications .divider{
    border-top: 1px solid #d1d2d3;
    width: 100%;
}
#board-notifications .form-wrap{
    padding: 20px;
}
#board-notifications .create-grid{
    margin: 0;
}
#board-notifications .poll-wrap{
    padding: 0;
}
#board-notifications .poll-wrap span{
    margin: 0 0 10px;
}
#board-notifications .poll-wrap a.add{
    color: #404041;
    position: relative;
    top: 15px;
}
#board-notifications .poll-wrap a.add:hover{
    text-decoration: underline;
}
#board-notifications .poll-wrap a.add .uk-icon{
    margin: 0 10px 0 0;
    position: relative;
    top: -1px;
}
#board-notifications input:not(.uk-checkbox),
#board-notifications textarea{
    width: 100%;
}
#board-notifications .uk-checkbox{
    margin: 0 5px 0 0;
    position: relative;
    top: -2px;
}
#board-notifications textarea{
    margin: 0 0 20px;
    height: 169px;
}
#board-notifications .uk-button{
    border-radius: 20px;
}
#board-notifications .uk-button-primary{
    margin: 0 10px 0 0;
}
#board-notifications .list-wrap ul{
    padding: 0;
    margin: 0;
}
#board-notifications .list-wrap ul li{
    list-style-type: none;
    border-bottom: 1px solid #d1d2d3;
    padding: 20px;
}
#board-notifications .list-wrap ul li:last-child{
    border: none;
}
#board-notifications .list-wrap ul li .uk-icon{
    margin: 0 10px 0 0;
    position: relative;
    top: -2px;
}
#board-notifications .list-wrap ul li a{
    color: #58595b;
}
#board-notifications .list-wrap ul li a:hover{
    color: #00d283;
    text-decoration: none;
}
#board-notifications .poll{
    margin: 0 0 30px 10px;
}
#board-notifications .uk-checkbox:checked,
#board-notifications .uk-checkbox:indeterminate,
#board-notifications .uk-radio:checked {
    background-color: #00d283;
    border-color: transparent;
}
#board-notifications .uk-checkbox:focus,
#board-notifications .uk-radio:focus {
    outline: 0;
    border-color: #00d283;
}
