#recent-activity{
    padding: 0 30px;
    margin: 0 0 30px;
}
#recent-activity h4{
    font-weight: 400;
}
#recent-activity .uk-card-body{
    position: relative;
    padding: 0;
}
#recent-activity ul{
    padding: 0;
}
#recent-activity li{
    list-style-type: none;
    border-bottom: 1px solid #d1d2d3;
    padding: 20px;
}
#recent-activity li:last-child{
    border: none;
}
#recent-activity div.img-wrap{
    width: 100%;
    height: 180px;
    border-radius: 20px;
    background-image: url('/loop-img/challenge.png');
    background-position: center;
    background-size: cover;
}
#recent-activity p{
    margin: 0;
}
#recent-activity p.activity-title{
    margin: 0 0 20px;
}
#recent-activity p.activity-title a{
    color: #58595b;
    text-decoration: underline;
}
#recent-activity p.activity-title a:hover{
    text-decoration: none;
}
#recent-activity .title{
    font-weight: 600;
}
#recent-activity .timestamp{
    font-size: 14px;
    color: #a7a9ac;
    margin: 0 0 10px;
}
#recent-activity p.activity-title .timestamp a{
    color: #a7a9ac;
    text-decoration: underline;
}
#recent-activity p.activity-title .timestamp a:hover{
    text-decoration: none;
}
#recent-activity .description{
    margin: 0 0 30px;
}
#recent-activity .deadline{
    font-size: 14px;
    font-weight: 600;
}
#recent-activity .deadline .uk-icon{
    margin: 0 10px 0 0;
    position: relative;
    top: -1px;
}
