#events-overview-header .events-overview-header{
    padding: 0 30px;
    margin: 30px 0 0;
}
#events-overview-header .events-overview-header.uk-grid>*{
    padding-left: 0px;
    width: 50%;
}
#events-overview-header .events-overview-header .uk-link {
    margin: 15px 0 0;
}
#events-overview-header .events-overview-header h2 {
    margin: 0 0 5px;
}
#events-overview-header .events-overview-header span {
    margin: 0 0 30px;
    display: block;
}
