#edit-org-name .edit-org-name{
    padding: 0 30px;
    margin: 30px 0;
}
#edit-org-name .edit-org-name.uk-grid>*{
    padding-left: 0px;
    width: 50%;
}
#edit-org-name .edit-org-name form,
#edit-org-name .edit-org-name input{
    width: 100%;
}
#edit-org-name .edit-org-name .uk-button {
    border-radius: 20px;
}
#edit-org-name .edit-org-name .uk-icon {
    margin: 0 10px 0 0;
    position: relative;
    top: -1px;
}
#edit-org-name .org-name-header .green {
    position: relative;
    top: 6px;
}
#edit-org-name .org-name-header h3 {
    margin: 0;
    font-weight: 400;
}
#edit-org-name .edit-org-name a {
    color: #404041;
    margin: 15px 0 0;
}
#edit-org-name .edit-org-name a:hover {
    text-decoration: underline;
}
#edit-org-name .edit-org-name .uk-button-primary {
    margin: 0 15px 0 0;
}
#edit-org-name .edit-org-name a.uk-float-right {
    margin: 0;
    text-decoration: underline;
}
#edit-org-name .edit-org-name a.uk-float-right:hover {
    text-decoration: none;
}
#edit-org-name .edit-org-name a.uk-float-right.yes {
    margin: 0 10px;
}
