#board-create{
    padding: 0 30px;
    margin: 0 0 30px;
}
#board-create .uk-card-body{
    padding: 20px;
    position: relative;
}
#board-create p{
    margin: 0;
}
#board-create .title{
    margin: 0;
    font-weight: 600;
}
#board-create a.green{
    text-decoration: none;
}
#board-create .create-wrap{
    border: 1px solid #d1d2d3;
    width: 100%;
    border-radius: 20px;
}
#board-create h4.inner{
    margin: 0 30px 0 30px;
    padding: 20px 0;
    font-weight: 400;
    color: #00d283;
}
#board-create .divider{
    border-top: 1px solid #d1d2d3;
    width: 100%;
}
#board-create .form-wrap{
    padding: 20px;
}
#board-create .create-grid{
    margin: 0;
}
#board-create .poll-wrap{
    padding: 0;
}
#board-create .poll-wrap span{
    margin: 0 0 10px;
}
#board-create .poll-wrap a.add{
    color: #404041;
    position: relative;
    top: 15px;
}
#board-create .poll-wrap a.add:hover{
    text-decoration: underline;
}
#board-create .poll-wrap a.add .uk-icon{
    margin: 0 10px 0 0;
    position: relative;
    top: -1px;
}
#board-create input:not(.uk-checkbox),
#board-create textarea{
    width: 100%;
}
#board-create .uk-checkbox{
    margin: 0 5px 0 0;
    position: relative;
    top: -2px;
}
#board-create textarea{
    margin: 0 0 20px;
    height: 169px;
}
#board-create .uk-button{
    border-radius: 20px;
}
#board-create .uk-button-primary{
    margin: 0 10px 0 0;
}
#board-create .list-wrap ul{
    padding: 0;
    margin: 0;
}
#board-create .list-wrap ul li{
    list-style-type: none;
    border-bottom: 1px solid #d1d2d3;
    padding: 20px;
}
#board-create .list-wrap ul li:last-child{
    border: none;
}
#board-create .list-wrap ul li .uk-icon{
    margin: 0 10px 0 0;
    position: relative;
    top: -2px;
}
#board-create .list-wrap ul li a{
    color: #58595b;
}
#board-create .list-wrap ul li a:hover{
    color: #00d283;
    text-decoration: none;
}
