#board-permissions .board-permissions{
    padding: 0 30px;
    margin: 30px 0;
}
#board-permissions .uk-card-body{
    padding: 0;
    margin: 0 30px 30px;
}
#board-permissions h4 {
    margin: 30px;
    font-weight: 400;
}
#board-permissions .uk-card-body div.uk-grid{
    width: calc(100% - 160px);
    margin: 0;
}
#board-permissions .uk-card-body div div{
    padding: 20px;
    border-left: 1px solid #d1d2d3;
}
#board-permissions .uk-card-body div div.uk-first-column{
    border-left: none;
}
#board-permissions .uk-checkbox {
    margin: 0 5px 0 0;
    position: relative;
    top: -2px;
}
#board-permissions b {
    margin: 0 0 10px;
    display: inline-block;
}
#board-permissions .divider{
    width: 100%;
    border-bottom: 1px solid #d1d2d3;
}
#board-permissions .uk-checkbox:checked,
#board-permissions .uk-checkbox:indeterminate,
#board-permissions .uk-radio:checked {
    background-color: #00d283;
    border-color: transparent;
}
#board-permissions .uk-checkbox:focus,
#board-permissions .uk-radio:focus {
    outline: 0;
    border-color: #00d283;
}
