#events-overview-board-notifications-create{
    padding: 0 30px;
    margin: 0 0 30px;
}
#events-overview-board-notifications-create .uk-grid-match svg:not(:root) {
    width: 100%;
    height: 100%;
    color: #00d283;
}
#events-overview-board-notifications-create .uk-card-body{
    padding: 20px;
    position: relative;
}
#events-overview-board-notifications-create div.slide-link{
    position: absolute;
}
#events-overview-board-notifications-create div.slide-link.left{
    left: 20px;
    top: 19%;
}
#events-overview-board-notifications-create div.slide-link.right{
    right: 20px;
    top: 19%;
}
#events-overview-board-notifications-create div.slide-link .uk-slidenav-large.disabled svg{
    color: #a7a9ac;
}
#events-overview-board-notifications-create .uk-grid-match{
    padding: 10px;
}
#events-overview-board-notifications-create .triple-wrap{
    width: calc(100% - 40px);
    margin: 0 0 20px -10px;
}
#events-overview-board-notifications-create p{
    margin: 0;
}
#events-overview-board-notifications-create .title{
    margin: 0;
    font-weight: 600;
}
#events-overview-board-notifications-create a.green{
    text-decoration: underline;
}
#events-overview-board-notifications-create .approval{
    color: #58585b;
    text-decoration: underline;
}
#events-overview-board-notifications-create .approval:hover,
#events-overview-board-notifications-create a.green:hover{
    text-decoration: none;
}
#events-overview-board-notifications-create .approval.yes{
    margin: 0 10px;
}
#events-overview-board-notifications-create .create-wrap{
    border: 1px solid #d1d2d3;
    width: 100%;
    border-radius: 20px;
}
#events-overview-board-notifications-create .test-upload .uk-icon{
    margin: 0 10px 0 0;
    position: relative;
    top: -1px;
}
#events-overview-board-notifications-create .form-wrap{
    padding: 20px;
}
#events-overview-board-notifications-create input,
#events-overview-board-notifications-create textarea{
    width: 100%;
}
#events-overview-board-notifications-create textarea{
    height: 127px;
    margin: 0 0 20px;
}
#events-overview-board-notifications-create .uk-button{
    border-radius: 20px;
}
#events-overview-board-notifications-create .uk-button-primary{
    margin: 0 10px 0 0;
}
#events-overview-board-notifications-create .list-wrap ul{
    padding: 0;
    margin: 0;
}
#events-overview-board-notifications-create .list-wrap ul li{
    list-style-type: none;
    border-bottom: 1px solid #d1d2d3;
    padding: 20px;
}
#events-overview-board-notifications-create .list-wrap ul li:last-child{
    border: none;
}
#events-overview-board-notifications-create .list-wrap ul li .uk-icon{
    margin: 0 10px 0 0;
    position: relative;
    top: -2px;
}
#events-overview-board-notifications-create .list-wrap ul li a{
    color: #58595b;
}
#events-overview-board-notifications-create .list-wrap ul li a:hover{
    color: #00d283;
    text-decoration: none;
}
