#create-board-header .create-board-header{
    padding: 0 30px;
    margin: 30px 0;
}
#create-board-header .create-board-header.top .uk-icon svg{
    height: 30px;
    width: 30px;
    position: relative;
    top: -2px;
    margin: 0 10px 0 0;
    color: #58595b;
}
