#event-attendees-header .event-attendees-header{
    padding: 0 30px;
    margin: 30px 0;
}
#event-attendees-header .event-attendees-header.top h2 .uk-icon svg{
    height: 30px;
    width: 30px;
    position: relative;
    top: -2px;
    margin: 0 10px 0 0;
    color: #58595b;
}
#event-attendees-header .event-attendees-header.top .uk-position-center .uk-icon{
    margin: 0 10px 0 0;
    position: relative;
    top: -1px;
}
#event-attendees-header .event-attendees-header.top .uk-overlay-default {
    background: rgba(0,0,0,.5);
    border-radius: 20px;
}
#event-attendees-header .event-attendees-header.top .uk-position-center a{
    color: #fff;
}
#event-attendees-header .event-attendees-header.top .uk-position-center a:hover{
    text-decoration: underline;
}
#event-attendees-header .event-attendees-header.uk-grid>*{
    padding-left: 0px;
    width: 50%;
}
#event-attendees-header .event-attendees-header div.img-wrap{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    background-image: url('/img/challenge.png');
    background-position: center;
    background-size: cover;
}
#event-attendees-header .uk-float-right {
    position: relative;
    top: -45px;
}
#event-attendees-header .uk-float-right .uk-icon {
    margin: 0 5px 0 0;
    position: relative;
    top: -1px;
}
