#inbox-message-header .inbox-message-header{
    padding: 0 30px;
    margin: 30px 0;
}
#inbox-message-header h4{
    margin: 0 0 30px 30px;
    font-weight: 400;
}
#inbox-message-header .inbox-message-header.top .uk-icon svg{
    height: 30px;
    width: 30px;
    position: relative;
    top: -2px;
    margin: 0 10px 0 0;
    color: #58595b;
}
#inbox-message-header .inbox-message-header.uk-grid>*{
    padding-left: 0px;
    width: 50%;
}
#inbox-message-header .inbox-message-header.top .uk-float-right{
    position: relative;
    top: 15px;
}
#inbox-message-header .button-nav{
    margin: 0 30px 30px;
}
#inbox-message-header .button-nav .uk-button.grey{
    background-color: #eee;
    margin: 0 5px 0 0;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    padding: 0 15px;
}
#inbox-message-header .button-nav .uk-button.grey:hover{
    background-color: #00d283;
    color: #fff;
}
