#feed h4 {
    width: 100%;
    display: block;
    color: #ccc;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 0 0 20px;
}
#feed .feed-item{
    padding: 0 30px;
    margin: 0 0 30px;
}
#feed .feed-item .uk-card{
    padding: 20px;
}
#feed .feed-item .main-post,
#feed .feed-item .reply {
    position: relative;
}
#feed .feed-item .main-post .poster-avi img{
    width: 70px;
    height: 70px;
    border-radius: 70px;
    margin: 0 20px 20px 0;
}
#feed .feed-item .main-post .poster-info{
    position: relative;
    top: 2px;
}
#feed .feed-item .main-post .poster-info a{
    color: #a7a9ac;
    text-decoration: underline;
}
#feed .feed-item .main-post .poster-info a:hover{
    text-decoration: none;
}
#feed .feed-item .main-post .poster-info span,
#feed .feed-item .reply span.timestamp{
    color: #a7a9ac;
    font-size: 14px;
}
#feed .feed-item .reply span.timestamp{
    position: relative;
    top: 3px;
}
#feed .feed-item .main-post .poster-info span.name,
#feed .feed-item .reply span.name {
    color: #58595b;
    font-weight: 600;
    font-size: 16px;
    position: relative;
    top: 3px;
}
#feed .feed-item .main-post .more,
#feed .feed-item .reply .more{
    position: absolute;
    top: 0;
    right: 0;
}
#feed .more .uk-card a:hover{
    text-decoration: none;
}
#feed .more a.uk-icon-link:hover{
    color: #00d283;
}
#feed .feed-item .main-post .post-content {
    margin: 15px 0 0;
}
#feed .feed-item .main-post .tags {
    margin: -10px 0 0;
}
#feed .feed-item .main-post .tags span {
    color: #a7a9ac;
    font-size: 14px;
}
#feed .feed-item .main-post .tags .uk-icon {
    margin: 0 5px 0 0;
}
#feed .feed-item .divider {
    width: calc(100% + 40px);
    height: 1px;
    background: #d1d2d3;
    margin: 20px -20px;
}
#feed .feed-item .reply .poster-avi img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 0 20px 0 0;
}
#feed .feed-item .reply .poster-info {
    width: calc(100% - 70px);
}
#feed .feed-item .load-more {
    width: calc(100% + 40px);
    border-top: 1px solid #d1d2d3;
    border-bottom: 1px solid #d1d2d3;
    margin: 20px -20px;
    padding: 15px 0;
    text-align: center;
}
#feed .feed-item .load-more a{
    color: #a7a9ac;
    font-size: 14px;
}
#feed .feed-item .load-more a:hover{
    color: #00d283;
    text-decoration: none;
}
#feed .feed-item .add-comment input{
    border-radius: 20px;
}
#feed .feed-item .add-comment .uk-icon-link {
    margin: 10px 10px 0 -10px;
}
